// NAVIGATION
header {
  width: 100%;
  top: 0;
  background-color: #f6f5ef;
  border-top: 2px solid black;
  border-bottom: 1px solid #c8c8c8;
  z-index: 1;
}
header > .inner {
  position: relative;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-bar {
  &:active .menu-bar-menu {
    position: absolute;
    z-index: 1;
    top: 100px;
    right: 0;
    display: block;
  }
  .menu-bar-menu {
    display: none;
    justify-content: space-around;
  }
  .menu-icon {
    display: block;
    font-size: 30px;
    color: #000;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
}

/* Tablet */
@media screen and (min-width: 768px) {
}

/* PC */
@media screen and (min-width: 1280px) {
  .menu-bar {
    width: 35%;
    &:active .menu-bar-menu {
      position: static;
      display: flex;
    }
    .menu-bar-menu {
      display: flex;
    }
    .menu-icon {
      display: none;
    }
  }
}
