@import "reset";
@import "header";

// FONT
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
//font-family: 'Montserrat', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;300;400;500;600;700&display=swap");
// font-family: 'Gothic A1', sans-serif;

@font-face {
  font-family: "CWDangamAsac-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

// COLOR
$main-green: #3ea548;
$main-orange: #ff6652;
$light-gray: #999;

.font-color--white {
  color: white;
}
// MAIN

section[class^="main-section"] {
  &.main-section-1 {
    height: calc(100vh - 120px);
    width: 100%;
    background-color: #000;
    overflow: hidden;
    .inner {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .hidden-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &.start {
          animation: pop 0.3s ease-in;
          @keyframes pop {
            from {
              scale: 0;
            }
            to {
              scale: 1;
            }
          }
        }
        li {
          text-align: center;
          padding: 30px 30px;
          border: 3px solid #000;
          color: #000;
          position: absolute;
          cursor: pointer;

          &:nth-child(odd) {
            background-color: $main-orange;
            font-family: "Montserrat";
            font-weight: 600;
            font-size: 40px;
          }
          &:nth-child(even) {
            background-color: #ffe11d;
            font-family: "Gothic A1";
            font-weight: 600;
            font-size: 40px;
            border-radius: 100%;
          }
          &:nth-child(1) {
            // Dust
            left: -500px;
            bottom: 250px;
            transform: rotate(20deg);
            background-color: rgb(47, 132, 230);
          }
          &:nth-child(2) {
            // 미세먼지
            right: -650px;
            bottom: -300px;
            transform: rotate(40deg);
          }
          &:nth-child(3) {
            // melancholy
            left: 200px;
            bottom: -200px;
            transform: rotate(-10deg);
            background-color: #ffae22;
          }
          &:nth-child(4) {
            // 우울함
            bottom: -300px;
            transform: rotate(-20deg);
            background-color: $main-green;
          }
          &:nth-child(5) {
            // Tired
            right: -650px;
            bottom: 0px;
            transform: rotate(-40deg);
            background-color: rgb(47, 132, 230);
          }
          &:nth-child(6) {
            // 피로감
            left: -600px;
            bottom: 150px;

            transform: rotate(-40deg);
          }
          &:nth-child(7) {
            //CO2
            left: 250px;
            bottom: 180px;
            transform: rotate(30deg);
            background-color: $main-green;
          }
          &:nth-child(8) {
            // 이산화탄소
            left: 0px;
            bottom: 160px;
            transform: rotate(-10deg);
            background-color: #ffae22;
          }
          &:nth-child(9) {
            // Smoke
            left: -500px;
            bottom: -80px;
            transform: rotate(-60deg);
          }
          &:nth-child(10) {
            // 매연
            right: -650px;
            bottom: 100px;
            transform: rotate(60deg);
            background-color: $main-orange;
          }
          &:nth-child(11) {
            // Global Warming

            left: -250px;
            bottom: 100px;
            transform: rotate(20deg);
            background-color: $main-green;
          }
          &:nth-child(12) {
            //지구온난화
            left: 330px;
            bottom: 270px;
            transform: rotate(0deg);
            background-color: #a93fd1;
          }
          &:nth-child(13) {
            // Abnormal Climate
            left: 50px;
            bottom: -100px;
            transform: rotate(-30deg);
            background-color: #fb6bbf;
          }
          &:nth-child(14) {
            // 이상기후
            left: 40px;
            bottom: -400px;
            transform: rotate(30deg);
            background-color: rgb(47, 132, 230);
          }
          &:nth-child(15) {
            // Humidity
            left: -300px;
            bottom: -350px;
            transform: rotate(-40deg);
          }
          &:nth-child(16) {
            // 습기
            left: -650px;
            bottom: -120px;
            transform: rotate(70deg);
            background-color: #fb6bbf;
          }
          &:nth-child(17) {
            //Formaldehyde
            left: -600px;
            bottom: -300px;
            transform: rotate(10deg);
            background-color: $main-green;
          }
          &:nth-child(18) {
            // 포름알데히드
            right: 0px;
            top: 80px;
            transform: rotate(-10deg);
            background-color: #a93fd1;
          }
          &:nth-child(19) {
            left: 50%;
            top: 30%;
            transform: translate(-50%, -70%);
            background-color: #fff;
            border: 3px solid #000;
            padding: 15px;
            font-size: 36px;
            font-weight: 700;
            color: #000;
            min-width: 330px;
            animation: infoMouseover 2s ease-in infinite;
            @keyframes infoMouseover {
              100% {
                margin-top: -5px;
              }
              50% {
                margin-top: 5px;
              }
              0% {
                margin-top: -5px;
              }
            }
          }
          &:nth-child(20) {
            right: -700px;
            bottom: -60px;
          }
          &:nth-child(21) {
            right: 100px;
            bottom: 240px;
          }
          &:nth-child(22) {
            left: -700px;
            bottom: 60px;
          }
          &:nth-child(23) {
            right: 670px;
            top: 200px;
            background-color: rgb(47, 132, 230);
          }
          &:nth-child(24) {
            left: 0px;
            bottom: 270px;
            background-color: #a93fd1;
          }
        }
        .hide {
          display: none;
        }
      }
      .text-box {
        color: #fff;
        text-align: center;
        font-family: "CWDangamAsac-Bold";
        font-size: 5rem;
        margin-bottom: 100px;
        .brand-intro {
          font-size: 16px;
          line-height: 1.6;
          font-family: Arial, Helvetica, sans-serif;
          margin-top: 40px;
        }
      }

      .arrow {
        position: absolute;

        .arrow-bottom::before {
          border: 4px solid #fff;
          border-right: 0;
          border-bottom: 0;
        }
      }
      .brand-story {
        display: block;
        position: absolute;
        right: -50px;
        bottom: 180px;
        transition: 2s;
        animation: rotate_image 10s linear infinite;
        transform-origin: 50% 50%;

        @keyframes rotate_image {
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
  &.main-section-2 {
    .inner {
      .title-second {
        & > div {
          display: flex;
          justify-content: space-between;
        }
      }
      .arrow {
        left: 50%;
        transform: translate(-50%, 450%);
        .arrow-bottom::before {
          border: 4px solid $main-green;
          border-right: 0;
          border-bottom: 0;
        }
      }
    }
  }

  &.main-section-3 {
    width: 100%;
    overflow: hidden;
    background-color: #e0e0e0;
    .inner {
      height: 100vh;
      .character {
        height: 60%;
        position: relative;
        display: flex;
        justify-content: space-between;
        li {
          &:nth-child(1) {
            cursor: pointer;
            bottom: -5%;
            z-index: 2;
            transform-origin: center bottom;
            animation: dance 3.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
            @keyframes dance {
              0% {
                transform: rotate(-3deg);
              }
              50% {
                transform: rotate(3deg);
              }
              100% {
                transform: rotate(-3deg);
              }
            }
          }
          &:nth-child(2) {
            transform-origin: bottom;
            animation: jump 3s cubic-bezier(0.53, 0.03, 0.6, 0.99) infinite;
            left: 22%;
            @keyframes jump {
              0% {
                transform: translate(0, -8%);
              }
              50% {
                transform: translate(0, 0);
              }
              100% {
                transform: translate(0, -8%);
              }
            }
          }
          &:nth-child(3) {
            animation: wobble 3.5s ease-out infinite;
            right: 20%;
            bottom: -5%;
            z-index: 1;
            @keyframes wobble {
              0% {
                transform: none;
              }
              15% {
                transform: translate3d(-3%, 0, 0) rotate(-1deg);
              }
              30% {
                transform: translate3d(3%, 0, 0) rotate(2deg);
              }
              45% {
                transform: translate3d(-3%, 0, 0) rotate(-2deg);
              }
              60% {
                transform: translate3d(2%, 0, 0) rotate(1deg);
              }
              75% {
                transform: translate3d(-1%, 0, 0) rotate(-1deg);
              }
              100% {
                transform: none;
              }
            }
          }
          &:nth-child(4) {
            transform-origin: bottom;
            animation: dance_jump 3s ease-out infinite;
            right: 0;
            @keyframes dance_jump {
              0% {
                transform: none;
              }
              15% {
                transform: rotate(-3deg);
              }
              30% {
                transform: rotate(3deg);
              }
              45% {
                transform: rotate(-3deg);
              }
              60% {
                transform: translate3d(0, -5%, 0);
              }
              75% {
                transform: translate3d(0, 1%, 0);
              }
              85% {
                transform: translate3d(0, -3%, 0);
              }
              100% {
                transform: none;
              }
            }
          }
        }
      }
    }
  }
  .inner {
    height: inherit;
    .title-second {
      padding: 60px 0 50px;
      h3 {
        font-family: "Montserrat";
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 3.5rem;
        color: $main-green;
      }
      & > div {
        p {
          font-size: 16px;
          color: $light-gray;
          line-height: 26px;
        }
        a {
          color: $main-green;
        }
        .btn {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 260px;
          transition: 0.5s;
          margin-top: 70px;
          &:hover {
            transform: scale(1.1);
          }
          &::before {
            content: "테스트 바로가기 ▸";
            z-index: 1;
            font-family: "CWDangamAsac-Bold";
            font-size: 28px;
          }
          .circle {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            position: absolute;
            &.circle-1 {
              right: 0px;
            }
            &.circle-2 {
              right: 60px;
            }
            &.circle-3 {
              right: 120px;
            }
            &.circle-4 {
              right: 180px;
            }
          }
          &.btn--white {
            .circle {
              background-color: #fff;
            }
          }
        }
      }
    }
    .plant-category {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-bottom: 130px;
      a {
        display: block;
        height: 100%;
        width: 100%;
      }
      & > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 350px;
        &.box1 {
          background-color: #e0e0e0;
          position: relative;
          overflow: hidden;
          a {
            color: #000;
          }
          img {
            position: absolute;
            transform-origin: bottom;
            right: -20px;
            bottom: 15px;
            width: 58%;
            mix-blend-mode: multiply;
            transition: 1s;
          }
        }
        &:last-child {
          margin-top: 16px;
          height: 500px;
        }
        .box2 {
          height: 49%;
          background-color: $main-orange;
        }
        .mini-box {
          display: flex;
          justify-content: space-between;
          height: 48%;
          .box3,
          .box4 {
            width: 49%;
          }
          .box3 {
            background-color: $main-green;
          }
          .box4 {
            background-image: url("../image/home_sect2_interior.jpg");
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            transition: background-size 1s ease;
            a {
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
      div[class^="box"] {
        position: relative;
        border-radius: 20px;
        padding: 40px 30px;
        font-family: "Montserrat";
        &:hover {
          img {
            transform: scale(1.05);
          }
          &.box4 {
            // transform: scale(110%);
            background-size: 110%;
          }
          .arrow-move {
            animation: hiddenContentsEven 1.5s ease-in infinite;
            @keyframes hiddenContentsEven {
              100% {
                transform: translateX(0px);
                opacity: 1;
              }
              50% {
                transform: translateX(10px);
                opacity: 0.5;
              }
              0% {
                transform: translateX(0px);
                opacity: 1;
              }
            }
          }
        }
        a {
          p {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 2rem;
          }
          span {
            display: block;
            margin-top: 10px;
            font-size: 1rem;
            line-height: 1.5rem;
          }
          .arrow-move {
            position: absolute;
            right: 50px;
            bottom: 25px;
            transition: 1.5s;
            .arrow-right {
              position: relative;
              width: 32px;
              height: 32px;
              transform: rotate(135deg);
              &::before {
                position: absolute;
                content: "";
                // width: 100%;
                height: 100%;
                border: 3px solid #fff;
                border-right: 0;
                border-bottom: 0;
              }
              &::after {
                position: absolute;
                content: "";
                width: 120px;
                height: 3px;
                background-color: #fff;
                transform-origin: 0 100%;
                transform: rotate(45deg);
              }
            }
          }
        }
      }
    }
    .arrow {
      position: absolute;
      bottom: 7%;
      animation: scroll_bottom 1s ease-in infinite;
      @keyframes scroll_bottom {
        from {
          bottom: 7%;
          opacity: 1;
        }
        to {
          opacity: 0;
          bottom: 5%;
        }
      }

      .arrow-bottom {
        cursor: pointer;
        position: relative;
        width: 32px;
        height: 32px;
        transform: rotate(225deg);
        &::before {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          border-right: 0;
          border-bottom: 0;
        }
      }
    }
  }
}
footer {
  height: 150px;
  background-color: $main-green;
  display: flex;
  align-items: center;
  font-size: 14px;
  overflow: hidden;
  .inner {
    display: flex;
    justify-content: flex-start;
    .foo_logo {
      width: 22vw;
      max-width: 180px;
      img {
        width: 100%;
      }
    }

    .footer-text-box {
      p:first-child {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 600;
      }
      margin-left: 10vw;
      color: #fff;
      line-height: 1.5;
    }
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  section[class^="main-section"] {
    &.main-section-3 {
      .inner {
        .character {
          justify-content: space-around;
          flex-wrap: wrap;
          margin-top: 40px;
          li {
            &:nth-child(1) {
              img {
                width: 190px;
              }
            }
            &:nth-child(2) {
              img {
                width: 180px;
              }
            }
            &:nth-child(3) {
              img {
                width: 230px;
              }
            }
            &:nth-child(4) {
              img {
                width: 220px;
              }
            }
          }
        }
      }
    }
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  section[class^="main-section"] {
    .inner {
      .plant-category {
        & > div {
          &.box1 {
            img {
              width: 38%;
            }
          }
        }
      }
    }
    &.main-section-3 {
      .title-second {
        & > div {
          display: flex;
          justify-content: space-between;
          .btn {
            margin-top: 0;
          }
        }
      }
      .character {
        li {
          position: absolute;

          &:nth-child(1) {
            bottom: -5%;
            z-index: 2;

            img {
              width: 310px;
            }
          }
          &:nth-child(2) {
            left: 22%;

            img {
              width: 280px;
            }
          }
          &:nth-child(3) {
            right: 20%;
            bottom: -5%;
            z-index: 1;

            img {
              width: 380px;
            }
          }
          &:nth-child(4) {
            transform-origin: bottom;
            right: 0;

            img {
              width: 350px;
            }
          }
        }
      }
    }
  }
}

/* PC */
@media screen and (min-width: 1280px) {
  section[class^="main-section"] {
    .inner {
      .plant-category {
        margin-bottom: 0;
        flex-direction: row;
        & > div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 49.5%;
          height: 550px;
          &.box1 {
            img {
              right: -20px;
              bottom: 15px;
              width: 78%;
            }
          }
          &:last-child {
            margin-top: 0;
            height: inherit;
          }
          .box2 {
            height: 49%;
          }
          .mini-box {
            height: 49%;
            .box3,
            .box4 {
              width: 49%;
            }
          }
        }
      }
    }
    &.main-section-1 {
      .inner {
        .hidden-text {
          li {
            white-space: nowrap;
          }
        }
      }
    }
    &.main-section-2,
    &.main-section-3 {
      height: 100vh;
    }
    &.main-section-2 {
      .inner {
        .arrow {
          transform: translateY(0%);
        }
      }
    }
    &.main-section-3 {
      .inner {
        .character {
          li {
            position: absolute;
            &:nth-child(1) {
              left: -200px;
              bottom: 0px;

              img {
                width: 400px;
              }
            }
            &:nth-child(2) {
              left: 200px;

              img {
                width: 340px;
              }
            }
            &:nth-child(3) {
              right: 230px;
              bottom: -50px;

              img {
                width: 480px;
              }
            }
            &:nth-child(4) {
              bottom: 70px;
              right: -200px;
              transform-origin: bottom;

              img {
                width: 450px;
              }
            }
          }
        }
      }
    }
  }
}
