@import "reset";
@import "header";
@import "footer";
// FONT
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
//font-family: 'Montserrat', sans-serif;

// COLOR
$main-green: #3ea548;
$main-orange: #ff6652;
$light-gray: #999;

.hide {
  display: none;
}

// NAVIGATION
header {
  background-color: #fff;
  border: none;

  .inner {
    .logo {
      a {
        img {
          width: 60px;
        }
      }
    }

    .menu-bar {
      .menu-bar-menu {
        li {
          &:hover ::before {
            @include header_underline(#fff);
          }

          a {
            @include header_font(#fff);
          }
        }
      }
      .menu-icon {
        color: $main-green;
      }
    }
  }
}

// 카테고리별 이미지 배너
// swiper 사용 예정
.categoryImgs {
  img {
    width: 100%;
  }
}

// 카테고리 선택
.selectSection {
  .inner {
    .selectTag {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin: 60px 0 30px;
      line-height: 1.2;

      // 버튼 디자인
      li {
        margin-bottom: 10px;
        margin-right: 10px;
        button {
          // font-size: 16px;
          font-size: 1rem;
          font-weight: 700;
          color: $main-green;
          background-color: #fff;
          border-radius: 20px;
          border: 2px solid $main-green;
          padding: 5px 16px;
          line-height: 1.2;
          cursor: pointer;
        }

        button:hover {
          color: #fff;
          background-color: $main-green;
        }

        // 클릭된 버튼 색 다르게
        button.clicked {
          color: #fff;
          border-color: $main-orange;
          background-color: $main-orange;
        }
      }

      // 초기화 버튼만 색 다르게
      li:first-child > button {
        color: rgb(90, 90, 90);
        border: 2px solid rgb(90, 90, 90);
      }

      li:first-child > button:hover {
        color: #fff;
        background-color: rgb(90, 90, 90);
      }

      // 카테고리 구분선 - 방법1
      li.contour {
        font-size: 1.5rem;
        font-weight: 700;
        color: $main-green;
        line-height: 1.5;
      }
    }
    .resultSection {
      margin-bottom: 100px;

      h3 {
        font-family: "Montserrat";
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 3.5rem;
        color: $main-green;
      }
      p {
        font-size: 16px;
        color: $light-gray;
        line-height: 26px;
        .arrLength {
          color: $main-green;
        }
      }

      .results {
        display: flex;
        flex-wrap: wrap;
        // justify-content: flex-starst;
        gap: 0.8vw;
        margin-top: 30px;
        // 그림 배치 다시 할 것! grid 사용???
        .plant {
          width: 49%;
          margin-bottom: 5vh;
          .image {
            position: relative;
            overflow: hidden;
            &:hover {
              border: 1px solid $main-green;
              img {
                transform: scale(1.3);
              }
              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                mix-blend-mode: multiply;
                background: linear-gradient(
                  180deg,
                  rgba(52, 152, 56, 0),
                  rgba(52, 152, 56, 0.2),
                  rgba(52, 152, 56, 0.7)
                );
              }
            }
          }
          .image {
            cursor: pointer;
            border: 1px solid #ddd;
            overflow: hidden;
            img {
              transition: 0.5s;
              width: 100%;
              border-radius: 10px;
              margin-bottom: 1vh;
              transform: scale(1.15);
            }
          }

          .kor {
            width: 100%;

            font-weight: 700;
            margin-top: 20px;
            color: $main-green;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .eng {
            margin: 0;
            color: $light-gray;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        // hover 시, 사진 어둡게 처리 + 위에 상세 내용 뜰 예정
      }
    }
  }
}

// FOOTER
footer {
  height: 150px;
  background-color: $main-green;
  display: flex;
  align-items: center;
  .inner {
    display: flex;
    justify-content: flex-start;
    .footer-text-box {
      p:first-child {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 600;
      }
      margin-left: 150px;
      color: #fff;
      line-height: 1.5;
    }
  }
}
/* Mobile */
@media screen and (max-width: 767px) {
  .selectSection {
    .inner {
      .resultSection {
        .results {
          .kor {
            font-size: 1.6rem;
            line-height: 2rem;
          }
          .eng {
            font-size: 1.2rem;
            line-height: 1.6rem;
          }
        }
      }
    }
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .selectSection {
    .inner {
      .resultSection {
        .results {
          .plant {
            width: 24%;
          }

          .kor {
            font-size: 1.4rem;
            line-height: 2rem;
          }
          .eng {
            font-size: 1rem;
            line-height: 1.6rem;
          }
        }
      }
    }
  }
}
// PC
@media screen and (min-width: 1280px) {
  header {
    .inner {
      .menu-bar {
        .menu-bar-menu {
          li {
            &:hover ::before {
              @include header_underline($main-green);
            }

            a {
              @include header_font($main-green);
            }
          }
        }
      }
    }
  }
  .selectSection {
    .inner {
      .resultSection {
        .results {
          .plant {
            width: 24%;
          }

          .kor {
            font-size: 20px;
            line-height: 1.3rem;
          }
          .eng {
            font-size: 14px;
            line-height: 1.4rem;
          }
        }
      }
    }
  }
}
