@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.inner {
  width: 90%;
  margin: auto;
  position: relative;
}

/* Mobile */
/* Tablet */
/* PC */
@media screen and (min-width: 1280px) {
  .inner {
    width: 1200px;
  }
}
header {
  width: 100%;
  top: 0;
  background-color: #000;
  border-top: 2px solid black;
  border-bottom: 1px solid #c8c8c8;
  z-index: 3;
}
header .inner {
  position: relative;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .inner .menu-bar .menu-bar-menu {
  position: absolute;
  top: 120px;
  left: -10%;
  transform: translateX(4%);
  width: 100vw;
  height: calc(100vh - 120px);
  background-color: #3ea548;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
header .inner .menu-bar .menu-bar-menu li {
  position: relative;
  margin-left: 130px;
  display: inline-block;
  font-family: "Gothic A1";
  font-weight: 800;
}
header .inner .menu-bar .menu-bar-menu li ::after {
  position: absolute;
  left: -80px;
  transform: scale(0.8);
  transition: 0.3s ease-in;
  transform-origin: 70px;
  content: url("../image/header_logo.svg");
}
header .inner .menu-bar .menu-bar-menu li:hover ::before {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 2px;
  width: 90%;
  background-color: #fff;
}
header .inner .menu-bar .menu-bar-menu li:hover ::after {
  transform: rotate(15deg) scale(0.8);
}
header .inner .menu-bar .menu-bar-menu li a {
  font-size: 10vw;
}
header .inner .menu-bar .menu-hidden {
  display: none;
}
header .inner .menu-bar .menu-icon {
  display: block;
  font-size: 30px;
  color: #fff;
}

/* Mobile */
/* Tablet */
/* PC */
@media screen and (min-width: 1280px) {
  header .inner .menu-bar .menu-bar-menu {
    position: static;
    height: 120px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    flex-direction: row;
  }
  header .inner .menu-bar .menu-bar-menu li {
    margin-left: 0px;
  }
  header .inner .menu-bar .menu-bar-menu li ::after {
    content: "";
    position: static;
  }
  header .inner .menu-bar .menu-bar-menu li:hover ::before {
    width: 100%;
  }
  header .inner .menu-bar .menu-bar-menu li a {
    font-size: 16px;
  }
  header .inner .menu-bar .menu-icon {
    display: none;
  }
}
header {
  background-color: #fff;
  border: none;
}
header .inner .logo a img {
  width: 60px;
}
header .inner .menu-bar .menu-bar-menu li:hover ::before {
  background-color: #3ea548;
}
header .inner .menu-bar .menu-bar-menu li a {
  color: #3ea548;
}
header .inner .menu-bar .menu-icon {
  color: #3ea548;
}

.categoryImgs img {
  width: 100%;
}

.selectSection .inner .selectTag {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  margin-top: 10vh;
  padding: 0 2vw;
  line-height: 1.2;
}
.selectSection .inner .selectTag li button {
  font-size: 1rem;
  font-weight: 700;
  color: #3ea548;
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid #3ea548;
  padding: 5px 10px;
  cursor: pointer;
}
.selectSection .inner .selectTag li button:hover {
  color: #fff;
  background-color: #3ea548;
}
.selectSection .inner .selectTag li button.clicked {
  color: #fff;
  border-color: #ff6652;
  background-color: #ff6652;
}
.selectSection .inner .selectTag li:first-child > button {
  color: rgb(90, 90, 90);
  border: 2px solid rgb(90, 90, 90);
}
.selectSection .inner .selectTag li:first-child > button:hover {
  color: #fff;
  background-color: rgb(90, 90, 90);
}
.selectSection .inner .selectTag li.contour {
  font-size: 1.5rem;
  font-weight: 700;
  color: #3ea548;
}

.resultSection .inner {
  margin-top: 8vh;
  margin-bottom: 10vh;
}
.resultSection .inner p {
  font-family: "Montserrat";
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.2rem;
  color: #3ea548;
}
.resultSection .inner .count {
  font-size: 1rem;
  margin-bottom: 5vh;
}
.resultSection .inner .results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.resultSection .inner .results .plant {
  width: 20vw;
  margin-bottom: 5vh;
  text-align: center;
}
.resultSection .inner .results .plant img {
  width: 100%;
  border: 1px solid #999;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 1vh;
}
.resultSection .inner .results .plant .kor {
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-weight: 700;
  margin: 0;
  color: #3ea548;
}
.resultSection .inner .results .plant .eng {
  font-size: 0.6rem;
  line-height: 1rem;
  margin: 0;
  color: black;
}
.resultSection .inner .results .plant:hover > img {
  border: 5px solid #3ea548;
  filter: blur(0.7px);
}

footer {
  height: 150px;
  background-color: #3ea548;
  display: flex;
  align-items: center;
}
footer .inner {
  display: flex;
  justify-content: flex-start;
}
footer .inner .footer-text-box {
  margin-left: 150px;
  color: #fff;
  line-height: 1.5;
}
footer .inner .footer-text-box p:first-child {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}/*# sourceMappingURL=search.css.map */