@import "reset";
@import "header";
@import "footer";

$arrow-color: #000;

//font-family: 'Montserrat', sans-serif;
// font-family: 'Gothic A1', sans-serif;
// font-family: "CWDangamAsac-Bold";

.arrow {
  position: absolute;
  bottom: 7%;
  animation: scroll_bottom 1s ease-in infinite;
  @keyframes scroll_bottom {
    from {
      bottom: 7%;
      opacity: 1;
    }
    to {
      opacity: 0;
      bottom: 5%;
    }
  }

  .arrow-bottom {
    cursor: pointer;
    position: relative;
    width: 32px;
    height: 32px;
    transform: rotate(225deg);
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      border-right: 0;
      border-bottom: 0;
    }
  }
}

.hide {
  display: none;
  transition: all 0.5s;
}
// 이미지 클래스
.move1 {
  transform: translate(0, 0) scale(1.15);
}
.move2 {
  transform: translate(0, 0) scale(1.15);
}
.move3 {
  transform: translate(0, 0) scale(1.15);
}
.move4 {
  transform: translate(0, 0) scale(1.15);
}
.section {
  position: relative;
  overflow: hidden;
  &--slogan {
    // test 중
    align-items: center;
    background-color: #000;
    display: flex;
    flex-basis: content;
    flex-direction: column;
    padding: 2rem;
    height: calc(100vh - 120px);

    .inner {
      height: inherit;
      .sloganBox {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
        text-align: center;
        .sloganTitle {
          justify-content: center;
          font-family: "CWDangamAsac-Bold";
          font-size: 6rem;
          letter-spacing: 0em;
          line-height: 1.2;
          // margin: 0.5em 0;
          // text-transform: uppercase;
          transform: rotate(-7deg);
          transform-origin: center, center;

          span {
            box-sizing: border-box;

            display: inline-block;
            margin: -0.1em auto;
            width: auto;
          }

          span::before {
            animation-name: title;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: ease;
            box-sizing: border-box;
            content: attr(data-text);
            display: inline;
            color: #fff;
            display: block;
            position: absolute;
            z-index: 1;

            @keyframes title {
              0% {
                opacity: 0;
                transform: translateY(-0.2em);
                -webkit-clip-path: polygon(0 70%, 100% 0, 100% 100%, 0 100%);
                clip-path: polygon(0 70%, 100% 0, 100% 100%, 0 100%);
              }

              20% {
                opacity: 1;
                transform: translateY(0);
                -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              }

              80% {
                opacity: 1;
                transform: translateY(0);
                -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              }

              100% {
                opacity: 0;
                transform: translateY(0.1em);
                -webkit-clip-path: polygon(0 70%, 100% 0, 100% 30%, 0 100%);
                clip-path: polygon(0 70%, 100% 0, 100% 30%, 0 100%);
              }
            }
          }

          span:last-child::before {
            animation-delay: 0.25s;
          }
        }
      }

      .arrow {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        // 모션
        animation: scroll_bottom 1s ease-in infinite;
        @keyframes scroll_bottom {
          from {
            bottom: 7%;
            opacity: 1;
          }
          to {
            opacity: 0;
            bottom: 5%;
          }
        }

        .arrow-bottom::before {
          border: 4px solid #fff;
          border-right: 0;
          border-bottom: 0;
        }
      }
    }
  }

  &--logo {
    color: #fff; // 임시
    background-image: url("../image/stroy_bg.jpg");
    background-attachment: fixed;
    height: 100vh;
    .inner {
      height: inherit;
      .contentBox {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
        .logoBox {
          display: flex;
          align-items: end;
          img {
            width: 60vw;
          }
          span {
            white-space: nowrap;
            font-size: 3vw;
            font-weight: 600;
            margin-left: 15px;
            margin-bottom: 30px;
          }
        }
        .logoContentBox {
          margin-top: 40px;
          margin-left: 5vw;
          text-align: center;
          p:first-child {
            line-height: 1;
            color: $main-green;
            font-family: "Montserrat";
            font-size: 6vw;
            white-space: nowrap;
            span {
              font-size: 1vw;
              font-family: "Gothic A1";
              color: #fff;
            }
          }

          p:last-child {
            margin-top: 15px;
            font-family: "Gothic A1";
            line-height: 1.5;
            font-size: 3vw;
          }
        }
      }

      .arrow {
        position: absolute;
        left: 50%;

        .arrow-bottom::before {
          border: 4px solid #fff;
          border-right: 0;
          border-bottom: 0;
        }
      }
    }
  }

  &--merit {
    .inner {
      height: 100vh;
      display: flex;
      align-items: center;

      .merit-img-box {
        position: relative;
        height: 60vh;
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        align-items: center;
        cursor: pointer;
        text-align: center;
        transition: 0.5s;
        p {
          font-family: "Montserrat";
          font-size: 16px;
          font-weight: 500;
        }
        div[class^="merit--"] {
          width: 24%;
          border-radius: 10px;
          transition: 0.5s;
          &:hover {
            transform: scale(1.05);
          }

          .img-box {
            width: 280px;
            height: 400px;
            overflow: hidden;
            position: relative;
            img {
              width: 100%;
            }
            &:hover {
              border: 2px solid $main-green;
            }
            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              mix-blend-mode: multiply;
              background: linear-gradient(
                180deg,
                rgba(52, 152, 56, 0),
                rgba(52, 152, 56, 0),
                rgba(52, 152, 56, 0.7)
              );
            }
            p {
              z-index: 1;
              position: absolute;
              bottom: 7%;
              left: 7%;
              color: #fff;
            }
          }
        }
      }

      .reason-box {
        position: relative;
        width: 65%;
        height: 40%;
        transition: 0.5s;
        border-bottom: 1px solid black;

        > div {
          position: absolute;
        }
        .chart1 {
          width: 5%;
          height: 40%;
          background-color: red;
          bottom: 0;
          left: 20%;
        }
        .chart2 {
          width: 5%;
          height: 70%;
          background-color: orange;
          bottom: 0;
          left: 30%;
        }
        .chart3 {
          width: 5%;
          height: 85%;
          background-color: tomato;
          bottom: 0;
          left: 40%;
        }
        .chart4 {
          width: 5%;
          height: 40%;
          background-color: red;
          bottom: 0;
          left: 50%;
        }
        .chart5 {
          width: 5%;
          height: 40%;
          background-color: red;
          bottom: 0;
          left: 60%;
        }
        .chart6 {
          width: 5%;
          height: 40%;
          background-color: red;
          bottom: 0;
          left: 70%;
        }
      }
      .donut {
        width: 25%;
        height: 33%;
        margin: 0 10px;
        border-radius: 50%;
        position: relative;
        text-align: center;
        transition: background 0.3s ease-in-out;
        background: conic-gradient(#0bac3b 0% 72%, #f2f2f2 72% 100%);

        &:before {
          color: #fff;
          width: 70%;
          padding: calc(35% - 0.64vw) 0;
          background: #264057;
          border-radius: 50%;
          position: absolute;
          left: 15%;
          top: 15%;
          display: block;
          content: attr(data-percent) "%";
          transform: skew(-0.03deg);
          margin: auto;
          font-size: 1.1vw;
          font-size: 2vw;
          padding: calc(35% - 1.3vw) 0;
        }
        &::after {
          content: "식물에게 생기는 애정";
          position: absolute;
          font-size: 20px;
          font-weight: 700;
          color: black;
          left: 17%;
          top: 0;
        }
      }
      .donut1 {
        width: 25%;
        height: 33%;
        margin: 0 10px;
        border-radius: 50%;
        position: relative;
        text-align: center;
        transition: background 0.3s ease-in-out;
        background: conic-gradient(#0bac3b 0% 72%, #f2f2f2 72% 100%);

        &:before {
          color: #fff;
          width: 70%;
          padding: calc(35% - 0.64vw) 0;
          background: #264057;
          border-radius: 50%;
          position: absolute;
          left: 15%;
          top: 15%;
          display: block;
          content: attr(data-percent) "%";
          transform: skew(-0.03deg);
          margin: auto;
          font-size: 1.1vw;
          font-size: 2vw;
          padding: calc(35% - 1.3vw) 0;
        }
      }

      .progress-box {
        position: relative;
        width: 50%;
        height: 150px;
        background-color: #3a4b71;
        border-radius: 10px;
        .progress-bar {
          position: absolute;
          left: 50%;
          top: 60%;
          transform: translate(-50%);
          width: 80%;
          height: 30px;
          // background-color: #dedede;
          background-color: white;
          font-weight: 600;
          font-size: 0.8rem;

          .progress {
            width: 100%; // 나타내고자 하는 퍼센트 값을 넣으면 됩니다.
            height: 30px;
            padding: 0;
            text-align: center;
            background-color: #4f98ff;
            color: #111;
          }
        }
      }

      .arrow {
        position: absolute;
        left: 50%;

        .arrow-bottom::before {
          border: 4px solid $arrow-color;
          border-right: 0;
          border-bottom: 0;
        }
      }
    }
  }

  &--reason {
    .inner {
      height: 100vh;
      // width: 100%;

      .arrow {
        position: absolute;
        left: 50%;

        .arrow-bottom::before {
          border: 4px solid $arrow-color;
          border-right: 0;
          border-bottom: 0;
        }
      }
    }
  }

  &--mine {
    .inner {
      height: 100vh;
      // width: 100%;

      .arrow {
        position: absolute;
        left: 50%;

        .arrow-bottom::before {
          border: 4px solid $arrow-color;
          border-right: 0;
          border-bottom: 0;
        }
      }
    }
  }

  &--interview {
    .inner {
      height: 100vh;
      // width: 100%;

      .arrow {
        position: absolute;
        left: 50%;

        .arrow-bottom::before {
          border: 4px solid $arrow-color;
          border-right: 0;
          border-bottom: 0;
        }
      }
    }
  }

  &--campaign {
    .inner {
      height: 100vh;
      // width: 100%;
    }
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .section {
    &--logo {
      .inner {
        .contentBox {
        }
      }
    }
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .section--slogan {
    .inner {
      .sloganBox {
        .sloganTitle {
          top: 15vh;
          left: 13vw;
          // color: red;
          span {
            white-space: nowrap;
          }
        }
      }
    }
  }
}

/* PC */
@media screen and (min-width: 1280px) {
  .section {
    &--slogan {
      .inner {
        left: 0;

        .sloganBox {
          .sloganTitle {
            top: 15vh;
            left: 25vw;
            font-size: 6rem;
            // color: blue;
          }
          .sloganContent {
            color: #fff;
            margin-top: 40px;
            font-size: 18px;
          }
        }
      }
    }
    &--logo {
      .inner {
        .contentBox {
          left: 0;
          transform: translate(0, -40%);
          .logoBox {
            display: flex;
            align-items: end;
            img {
              width: 35vw;
            }
          }
          .logoContentBox {
            margin-top: 40px;
            margin-left: 5vw;
            text-align: left;
            p:first-child {
              line-height: 1;
              color: $main-green;
              font-family: "Montserrat";
              font-size: 3vw;
              white-space: nowrap;
              span {
                font-size: 1vw;
                font-family: "Gothic A1";
                color: #fff;
              }
            }

            p:last-child {
              margin-top: 15px;
              font-family: "Gothic A1";
              line-height: 1.5;
              font-size: 1.2vw;
            }
          }
        }
      }
    }
  }
}
