@import "reset";
@import "header";
@import "footer";

$arrow-color: #000;

//font-family: 'Montserrat', sans-serif;
// font-family: 'Gothic A1', sans-serif;
// font-family: "CWDangamAsac-Bold";

// 모바일 화면 기준으로 작성! PC, 태블릿은 @media screen 에서

// 화살표 버튼 여기서 처리 가능?
.arrow {
  position: absolute;
  bottom: 7%;
  animation: scroll_bottom 1s ease-in infinite;
  @keyframes scroll_bottom {
    from {
      bottom: 7%;
      opacity: 1;
    }
    to {
      opacity: 0;
      bottom: 5%;
    }
  }

  .arrow-bottom {
    cursor: pointer;
    position: relative;
    width: 32px;
    height: 32px;
    transform: rotate(225deg);
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      border-right: 0;
      border-bottom: 0;
    }
  }
}

.hide {
  display: none;
  transition: all 0.5s;
}
// 이미지 클래스
.move1 {
  transform: translate(0, 0) scale(1.15);
}
.move2 {
  transform: translate(0, 0) scale(1.15);
}
.move3 {
  transform: translate(0, 0) scale(1.15);
}
.move4 {
  transform: translate(0, 0) scale(1.15);
}
.section {
  position: relative;

  &--slogan {
    // test 중
    align-items: center;
    background-color: #000;
    display: flex;
    flex-basis: content;
    flex-direction: column;
    padding: 2rem;

    .inner {
      height: calc(100vh - 120px);
      text-align: center;
      justify-content: center;

      .sloganTitle {
        display: inline-block;
        font-family: "CWDangamAsac-Bold";
        // font-size: 4em;
        font-size: 4rem;
        // letter-spacing: -0.05em;
        letter-spacing: -0.05em;
        // line-height: 0.75;
        line-height: 1;
        margin: 0.5em 0;
        text-align: center;
        text-transform: uppercase;
        transform: rotate(-7deg);

        span {
          // background-color: $light-gray;
          // background-color: #166032;
          box-sizing: border-box;
          // color: $light-gray;
          // color: #166032;
          display: inline-block;
          // padding: 0.25em 0.5em;
          margin: -0.1em auto;
          width: auto;
          // width: 700px;
        }

        span::before {
          animation-name: title;
          animation-duration: 3s;
          animation-iteration-count: infinite;
          animation-timing-function: ease;
          box-sizing: border-box;
          content: attr(data-text);
          display: inline;
          color: #fff;
          display: block;
          position: absolute;
          z-index: 1;
        }

        span:last-child::before {
          animation-delay: 0.25s;
        }
      }

      .sloganContent {
        color: #fff;
      }

      .arrow {
        position: absolute;
        left: 50%;
        // transform: translate(-50%, 420%);

        // 모션
        animation: scroll_bottom 1s ease-in infinite;
        @keyframes scroll_bottom {
          from {
            bottom: 7%;
            opacity: 1;
          }
          to {
            opacity: 0;
            bottom: 5%;
          }
        }

        .arrow-bottom::before {
          border: 4px solid #fff;
          border-right: 0;
          border-bottom: 0;
        }
      }
    }
  }

  // 이전 코드
  // &--slogan {
  //   .inner {
  //     height: calc(100vh - 120px);
  //     width: 100%;
  //     background-color: #000;
  //     text-align: center;

  //     .sloganTitle {
  //       position: absolute;
  //       top: 10vh;
  //       left: 1vw;

  //       color: #fff;
  //       font-family: "CWDangamAsac-Bold";
  //       font-size: 5rem;

  //       span:first-child {
  //         color: $main-orange;
  //       }
  //       span:last-child {
  //         color: $main-green;
  //       }
  //     }

  //     .sloganContent {
  //       display: none;
  //       color: #fff;
  //       font-family: "Montserrat";
  //       font-size: 2rem;
  //     }

  //     .arrow {
  //       position: absolute;
  //       left: 50%;
  //       // transform: translate(-50%, 420%);

  //       // 모션
  //       animation: scroll_bottom 1s ease-in infinite;
  //       @keyframes scroll_bottom {
  //         from {
  //           bottom: 7%;
  //           opacity: 1;
  //         }
  //         to {
  //           opacity: 0;
  //           bottom: 5%;
  //         }
  //       }

  //       .arrow-bottom::before {
  //         border: 4px solid #fff;
  //         border-right: 0;
  //         border-bottom: 0;
  //       }
  //     }
  //   }
  // }

  &--logo {
    color: #fff; // 임시
    .inner {
      height: 100vh;
      width: 100%;
      background-color: #054004;

      .arrow {
        position: absolute;
        left: 50%;

        .arrow-bottom::before {
          border: 4px solid #fff;
          border-right: 0;
          border-bottom: 0;
        }
      }
    }
  }

  &--merit {
    // background-image: url();
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    .inner {
      // position: relative;
      height: 100vh;
      // width: 100%;
      display: flex;
      align-items: center;

      .merit-img-box {
        position: relative;
        width: 100%;
        height: 60vh;
        display: flex;
        // justify-content: space-between;
        flex-grow: 1;
        align-items: center;
        cursor: pointer;
        // border: 2px solid black;
        text-align: center;
        transition: 0.5s;
        p {
          font-family: "Montserrat";
          font-size: 16px;
          font-weight: 500;
        }

        .merit--1 {
          width: 25%;
          margin: 0 10px;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          border-radius: 10px;
          transition: 0.5s;

          &:hover {
            transform: scale(1.05);
          }

          .img-box {
            width: 100%;
            height: 100%;
            img {
              width: 280px;
              height: 400px;
            }
          }
          .reason-box {
            width: 60%;
            height: 100%;
            position: absolute;
            left: 45%;
            border: 2px solid black;
            border-radius: 10px;
          }
        }
        .merit--2 {
          width: 25%;
          margin: 0 10px;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          border-radius: 10px;
          transition: 0.5s;

          &:hover {
            transform: scale(1.05);
          }

          .img-box {
            img {
              width: 280px;
              height: 400px;
            }
          }
        }
        .merit--3 {
          width: 25%;
          margin: 0 10px;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          border-radius: 10px;
          transition: 0.5s;

          &:hover {
            transform: scale(1.05);
          }

          .img-box {
            img {
              width: 280px;
              height: 400px;
            }
          }
        }
        .merit--4 {
          width: 25%;
          margin: 0 10px;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          border-radius: 10px;
          transition: 0.5s;

          &:hover {
            transform: scale(1.05);
          }

          .img-box {
            img {
              width: 280px;
              height: 400px;
            }
          }
        }
      }

      .inner {
        height: 100vh;
        // width: 100%;

        .arrow {
          position: absolute;
          left: 50%;

          .arrow-bottom::before {
            border: 4px solid $arrow-color;
            border-right: 0;
            border-bottom: 0;
          }
        }

        .reason-box {
          position: absolute;
          width: 65%;
          height: 60%;
          left: 40%;
          transition: 0.5s;
        }
      }
    }
  }

  &--reason {
    .inner {
      height: 100vh;
      // width: 100%;

      .arrow {
        position: absolute;
        left: 50%;

        .arrow-bottom::before {
          border: 4px solid $arrow-color;
          border-right: 0;
          border-bottom: 0;
        }
      }
    }
  }

  &--mine {
    .inner {
      height: 100vh;
      // width: 100%;

      .arrow {
        position: absolute;
        left: 50%;

        .arrow-bottom::before {
          border: 4px solid $arrow-color;
          border-right: 0;
          border-bottom: 0;
        }
      }
    }
  }

  &--interview {
    .inner {
      height: 100vh;
      // width: 100%;

      .arrow {
        position: absolute;
        left: 50%;

        .arrow-bottom::before {
          border: 4px solid $arrow-color;
          border-right: 0;
          border-bottom: 0;
        }
      }
    }
  }

  &--campaign {
    .inner {
      height: 100vh;
      // width: 100%;
    }
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
}

/* Tablet */
@media screen and (min-width: 768px) {
  .section--slogan {
    .inner {
      .sloganTitle {
        top: 15vh;
        left: 13vw;
        // color: red;
      }
      .sloganContent {
        position: absolute;
        display: block;
        top: 45vh;
        left: 17vw;
      }
    }
  }
}

/* PC */
@media screen and (min-width: 1280px) {
  .section--slogan {
    .inner {
      .sloganTitle {
        top: 15vh;
        left: 25vw;
        font-size: 6rem;
        // color: blue;
      }
      .sloganContent {
        position: absolute;
        display: block;
        top: 50vh;
        left: 32vw;
      }
    }
  }
}

@keyframes title {
  0% {
    opacity: 0;
    transform: translateY(-0.2em);
    -webkit-clip-path: polygon(0 70%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 70%, 100% 0, 100% 100%, 0 100%);
  }

  20% {
    opacity: 1;
    transform: translateY(0);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  80% {
    opacity: 1;
    transform: translateY(0);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  100% {
    opacity: 0;
    transform: translateY(0.1em);
    -webkit-clip-path: polygon(0 70%, 100% 0, 100% 30%, 0 100%);
    clip-path: polygon(0 70%, 100% 0, 100% 30%, 0 100%);
  }
}
