@import "reset";
@import "header";
@import "footer";

$arrow-color: #000;

//font-family: 'Montserrat', sans-serif;
// font-family: 'Gothic A1', sans-serif;
// font-family: "CWDangamAsac-Bold";

.arrow {
  position: absolute;
  bottom: 7%;
  animation: scroll_bottom 1s ease-in infinite;
  @keyframes scroll_bottom {
    from {
      bottom: 7%;
      opacity: 1;
    }
    to {
      opacity: 0;
      bottom: 5%;
    }
  }

  .arrow-bottom {
    cursor: pointer;
    position: relative;
    width: 32px;
    height: 32px;
    transform: rotate(225deg);
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      border-right: 0;
      border-bottom: 0;
    }
  }
}

.hide {
  display: none;
  transition: all 0.5s;
}
// 이미지 클래스
.move1 {
  transform: translate(0, 0) scale(1.15);
}

.section {
  position: relative;
  overflow: hidden;
  &--slogan {
    // test 중
    align-items: center;
    background-color: #000;
    display: flex;
    flex-basis: content;
    flex-direction: column;
    padding: 2rem;
    height: calc(100vh - 120px);

    .inner {
      height: inherit;
      .sloganBox {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
        text-align: center;
        .sloganTitle {
          justify-content: center;
          font-family: "CWDangamAsac-Bold";
          font-size: 6rem;
          letter-spacing: 0em;
          line-height: 1.2;
          // margin: 0.5em 0;
          // text-transform: uppercase;
          transform: rotate(-7deg);
          transform-origin: center, center;

          span {
            box-sizing: border-box;

            display: inline-block;
            margin: -0.1em auto;
            width: auto;
          }

          span::before {
            animation-name: title;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: ease;
            box-sizing: border-box;
            content: attr(data-text);
            display: inline;
            color: #fff;
            display: block;
            position: absolute;
            z-index: 1;

            @keyframes title {
              0% {
                opacity: 0;
                transform: translateY(-0.2em);
                -webkit-clip-path: polygon(0 70%, 100% 0, 100% 100%, 0 100%);
                clip-path: polygon(0 70%, 100% 0, 100% 100%, 0 100%);
              }

              20% {
                opacity: 1;
                transform: translateY(0);
                -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              }

              80% {
                opacity: 1;
                transform: translateY(0);
                -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              }

              100% {
                opacity: 0;
                transform: translateY(0.1em);
                -webkit-clip-path: polygon(0 70%, 100% 0, 100% 30%, 0 100%);
                clip-path: polygon(0 70%, 100% 0, 100% 30%, 0 100%);
              }
            }
          }

          span:last-child::before {
            animation-delay: 0.25s;
          }
        }
      }

      .arrow {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        // 모션
        animation: scroll_bottom 1s ease-in infinite;
        @keyframes scroll_bottom {
          from {
            bottom: 7%;
            opacity: 1;
          }
          to {
            opacity: 0;
            bottom: 5%;
          }
        }

        .arrow-bottom::before {
          border: 4px solid #fff;
          border-right: 0;
          border-bottom: 0;
        }
      }
    }
  }

  &--logo {
    color: #fff; // 임시
    background-image: url("../image/stroy_bg.jpg");
    background-attachment: fixed;
    height: 100vh;
    .inner {
      height: inherit;
      .contentBox {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
        .logoBox {
          display: flex;
          align-items: end;
          img {
            width: 60vw;
          }
          span {
            white-space: nowrap;
            font-size: 3vw;
            font-weight: 600;
            margin-left: 15px;
            margin-bottom: 30px;
          }
        }
        .logoContentBox {
          margin-top: 40px;
          margin-left: 5vw;
          text-align: center;
          p:first-child {
            line-height: 1;
            color: $main-green;
            font-family: "Montserrat";
            font-size: 6vw;
            white-space: nowrap;
            span {
              font-size: 1vw;
              font-family: "Gothic A1";
              color: #fff;
            }
          }

          p:last-child {
            margin-top: 15px;
            font-family: "Gothic A1";
            line-height: 1.5;
            font-size: 3vw;
          }
        }
      }

      .arrow {
        position: absolute;
        left: 50%;

        .arrow-bottom::before {
          border: 4px solid #fff;
          border-right: 0;
          border-bottom: 0;
        }
      }
    }
  }

  &--merit {
    .inner {
      height: 100vh;
      display: flex;
      align-items: center;

      .merit-img-box {
        position: relative;
        height: 60vh;
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        align-items: center;
        cursor: pointer;
        text-align: center;
        transition: 0.5s;
        p {
          font-family: "Montserrat";
          font-size: 16px;
          font-weight: 500;
        }
        div[class^="merit--"] {
          width: 24%;
          border-radius: 10px;
          transition: 0.5s;
          &:hover {
            transform: scale(1.05);
          }

          .img-box {
            width: 280px;
            height: 400px;
            overflow: hidden;
            position: relative;
            img {
              width: 100%;
            }
            &:hover {
              border: 2px solid $main-green;
            }
            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              mix-blend-mode: multiply;
              background: linear-gradient(
                180deg,
                rgba(52, 152, 56, 0),
                rgba(52, 152, 56, 0),
                rgba(52, 152, 56, 0.7)
              );
            }
            p {
              z-index: 1;
              position: absolute;
              bottom: 7%;
              left: 7%;
              color: #fff;
            }
          }
        }
      }

      // 마음안정 파트 근거
      .donut {
        width: 25%;
        height: 33%;
        margin: 0 20px;
        border-radius: 50%;
        position: relative;
        text-align: center;
        transition: background 0.3s ease-in-out;
        background: conic-gradient(#0bac3b 0% 72%, #f2f2f2 72% 100%);

        &:before {
          color: #fff;
          width: 70%;
          padding: calc(35% - 0.64vw) 0;
          background: #264057;
          border-radius: 50%;
          position: absolute;
          left: 15%;
          top: 15%;
          display: block;
          content: attr(data-percent) "%";
          transform: skew(-0.03deg);
          margin: auto;
          font-size: 1.1vw;
          font-size: 2vw;
          padding: calc(35% - 1.3vw) 0;
        }
        &::after {
          content: "1인 가구가 증가하면서 반려식물을 키우는 사람들이 증가할 것이다.";
          font-family: "Montserrat";
          position: absolute;
          font-size: 18px;
          font-weight: 700;
          color: rgb(15, 99, 9);
          left: 3%;
          bottom: -30%;
        }
      }
      .donut1 {
        width: 25%;
        height: 33%;
        margin: 0 10px;
        border-radius: 50%;
        position: relative;
        text-align: center;
        transition: background 0.3s ease-in-out;
        background: conic-gradient(#0bac3b 0% 72%, #f2f2f2 72% 100%);

        &:before {
          color: #fff;
          width: 70%;
          padding: calc(35% - 0.64vw) 0;
          background: #264057;
          border-radius: 50%;
          position: absolute;
          left: 15%;
          top: 15%;
          display: block;
          content: attr(data-percent) "%";
          transform: skew(-0.03deg);
          margin: auto;
          font-size: 1.1vw;
          font-size: 2vw;
          padding: calc(35% - 1.3vw) 0;
        }
        &::after {
          content: "식물에게도 반려동물만큼의 애정이 생길 수 있다.";
          font-family: "Montserrat";
          position: absolute;
          font-size: 18px;
          font-weight: 700;
          color: rgb(15, 99, 9);
          left: 3%;
          bottom: -30%;
        }
      }

      //미세먼지 제거 파트 근거
      .progress-box {
        position: relative;
        width: 50%;
        height: 400px;
        background-color: white;
        border-radius: 10px;

        .progress-box1 {
          margin-bottom: 20px;
          span {
            font-size: 16px;
            font-weight: 900;
            color: #000;
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translateX(-50%);
            font-family: "Montserrat";
          }
          .progress-bar1 {
            position: absolute;
            left: 50%;
            top: 20%;
            transform: translate(-50%);
            width: 80%;
            height: 30px;
            // background-color: #dedede;
            background-color: white;
            font-weight: 600;
            font-size: 0.8rem;

            .progress1 {
              width: 100%; // 나타내고자 하는 퍼센트 값을 넣으면 됩니다.
              height: 30px;
              padding: 0;
              text-align: center;
              background-color: red;
              color: #111;

              &::after {
                content: "70.3%";
                font-family: "Montserrat";
                font-size: 16px;
                font-weight: 900;
                color: #000;
                position: absolute;
                right: 0;
              }
            }
          }
        }
        .gradening {
          .progress-box2 {
            span {
              font-size: 16px;
              font-weight: 900;
              color: #000;
              position: absolute;
              top: 40%;
              left: 50%;
              transform: translateX(-50%);
              font-family: "Montserrat";
            }
            .progress-bar2 {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%);
              width: 80%;
              height: 30px;
              // background-color: #dedede;
              background-color: white;
              font-weight: 600;
              font-size: 0.8rem;

              .progress2 {
                width: 100%; // 나타내고자 하는 퍼센트 값을 넣으면 됩니다.
                height: 30px;
                padding: 0;
                text-align: center;
                background-color: green;
                color: #111;

                &::after {
                  content: "58.3%";
                  font-family: "Montserrat";
                  font-size: 16px;
                  font-weight: 900;
                  color: #000;
                  position: absolute;
                  right: 0;
                }
              }
            }
          }
          .progress-box3 {
            span {
              font-size: 16px;
              font-weight: 900;
              color: #000;
              position: absolute;
              top: 70%;
              left: 50%;
              transform: translateX(-50%);
              font-family: "Montserrat";
            }
            .progress-bar3 {
              position: absolute;
              left: 50%;
              top: 80%;
              transform: translate(-50%);
              width: 80%;
              height: 30px;
              // background-color: #dedede;
              background-color: white;
              font-weight: 600;
              font-size: 0.8rem;

              .progress3 {
                width: 100%; // 나타내고자 하는 퍼센트 값을 넣으면 됩니다.
                height: 30px;
                padding: 0;
                text-align: center;
                background-color: #5ecaeb;
                color: #111;

                &::after {
                  content: "38.4%";
                  font-family: "Montserrat";
                  font-size: 16px;
                  font-weight: 900;
                  color: #000;
                  position: absolute;
                  right: 0;
                }
              }
            }
          }
        }
      }

      // 인테리어 파트 근거
      .progress-box-int {
        position: relative;
        width: 50%;
        height: 400px;
        background-color: white;
        border-radius: 10px;
        > span {
          font-size: 24px;
          font-weight: 700;
          font-family: "Montserrat";
        }

        .progress-box-int1 {
          .progress-bar-int1 {
            position: absolute;
            left: 50%;
            top: 20%;
            transform: translate(-50%);
            width: 80%;
            height: 30px;
            // background-color: #dedede;
            background-color: white;
            font-weight: 600;
            font-size: 0.8rem;
            &::before {
              content: "20대";
              font-family: "Montserrat";
              font-size: 16px;
              font-weight: 900;
              color: #000;
              position: absolute;
              left: -12%;
            }

            .progress-int1 {
              width: 100%; // 나타내고자 하는 퍼센트 값을 넣으면 됩니다.
              height: 30px;
              padding: 0;
              text-align: center;
              background-color: green;
              color: #111;

              &::after {
                content: "70%";
                font-family: "Montserrat";
                font-size: 16px;
                font-weight: 900;
                color: #000;
                position: absolute;
                right: 10%;
              }
            }
          }
        }
        .progress-box-int2 {
          .progress-bar-int2 {
            position: absolute;
            left: 50%;
            top: 40%;
            transform: translate(-50%);
            width: 80%;
            height: 30px;
            // background-color: #dedede;
            background-color: white;
            font-weight: 600;
            font-size: 0.8rem;
            &::before {
              content: "30대";
              font-family: "Montserrat";
              font-size: 16px;
              font-weight: 900;
              color: #000;
              position: absolute;
              left: -12%;
            }

            .progress-int2 {
              width: 100%; // 나타내고자 하는 퍼센트 값을 넣으면 됩니다.
              height: 30px;
              padding: 0;
              text-align: center;
              background-color: green;
              color: #111;

              &::after {
                content: "60%";
                font-family: "Montserrat";
                font-size: 16px;
                font-weight: 900;
                color: #000;
                position: absolute;
                right: 10%;
              }
            }
          }
        }
        .progress-box-int3 {
          .progress-bar-int3 {
            position: absolute;
            left: 50%;
            top: 60%;
            transform: translate(-50%);
            width: 80%;
            height: 30px;
            // background-color: #dedede;
            background-color: white;
            font-weight: 600;
            font-size: 0.8rem;
            &::before {
              content: "40대";
              font-family: "Montserrat";
              font-size: 16px;
              font-weight: 900;
              color: #000;
              position: absolute;
              left: -12%;
            }

            .progress-int3 {
              width: 100%; // 나타내고자 하는 퍼센트 값을 넣으면 됩니다.
              height: 30px;
              padding: 0;
              text-align: center;
              background-color: green;
              color: #111;

              &::after {
                content: "75%";
                font-family: "Montserrat";
                font-size: 16px;
                font-weight: 900;
                color: #000;
                position: absolute;
                right: 10%;
              }
            }
          }
        }
        .progress-box-int4 {
          .progress-bar-int4 {
            position: absolute;
            left: 50%;
            top: 80%;
            transform: translate(-50%);
            width: 80%;
            height: 30px;
            // background-color: #dedede;
            background-color: white;
            font-weight: 600;
            font-size: 0.8rem;
            &::before {
              content: "50대";
              font-family: "Montserrat";
              font-size: 16px;
              font-weight: 900;
              color: #000;
              position: absolute;
              left: -12%;
            }

            .progress-int4 {
              width: 100%; // 나타내고자 하는 퍼센트 값을 넣으면 됩니다.
              height: 30px;
              padding: 0;
              text-align: center;
              background-color: green;
              color: #111;

              &::after {
                content: "77%";
                font-family: "Montserrat";
                font-size: 16px;
                font-weight: 900;
                color: #000;
                position: absolute;
                right: 10%;
              }
            }
          }
        }
      }
      .lowco2middle {
        position: absolute;
        left: 40%;
        > img {
          width: 100%;
          height: 100%;
        }
      }

      .arrow {
        position: absolute;
        left: 50%;

        .arrow-bottom::before {
          border: 4px solid $arrow-color;
          border-right: 0;
          border-bottom: 0;
        }
      }
    }
  }

  &--mine {
    .inner {
      height: 100vh;
      // width: 100%;

      .arrow {
        position: absolute;
        left: 50%;

        .arrow-bottom::before {
          border: 4px solid $arrow-color;
          border-right: 0;
          border-bottom: 0;
        }
      }
    }
  }

  &--interview {
    .inner {
      height: 100vh;
      // width: 100%;

      .arrow {
        position: absolute;
        left: 50%;

        .arrow-bottom::before {
          border: 4px solid $arrow-color;
          border-right: 0;
          border-bottom: 0;
        }
      }
    }
  }

  &--campaign {

    position : relative; 
    height: 100vh;
    div{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;

    
      div{

        width: 100%;
        height:100%;
        // color:yellow;
        font-size: 10px;
        
        video{
        width: 100%;
        height: 100%;
        object-fit: cover;
       }
      }
    
      .text{
        font-family: "Gothic A1";

        position: absolute;
        z-index: 99;
        width: 100%;
        left: 6vw;
        top: 60%;
        transform : translateY(-30%);

        .content{
          font-family: "Gothic A1";

          top: 150px;
          font-size: 20px;
          font-weight: 100;
          color: white;
        }


        .container {
          top:100px;
          display: flex;
          justify-content: center;
          align-items: center;
          height:8vh;
          font-size: clamp(2rem, 2.8vw, 5rem);
          font-family: Raleway;
          font-weight: 400;
        }
        
        .typewriter {
          font-size: 30px;
          color: white;
          width: 28ch;
          white-space: nowrap;
          overflow: hidden;
          border-right: 2px solid #212121;
          animation: cursor 1s step-start infinite, 
            text 5s steps(18) alternate infinite;
        }

        
        @keyframes cursor {
          0%, 100% { 
            border-color: white; 
          }
        }
        
        @keyframes text {
          0% { 
            width: 0; 
          }
          100% { 
            width: 46ch; 
          }
        }


        .title1{

          font-size: 60px;
          font-weight: 800;

        }



@keyframes intro {
  0% {
    top:150px;
  } 
  98% {
    top:-5px;
  }
  100% {
    top:0%;
  }
}

.title2 {
  animation-name: intro;
  animation-duration:0.2s;
  animation-iteration-count:1;
  animation-timing-function:ease;
  animation-delay:4.2s;
  animation-fill-mode:backwards;
 }

.title3 {
  animation-name: intro;
  animation-duration:0.2s;
  animation-iteration-count:1;
  animation-timing-function:ease;
  animation-delay:4.4s;
  animation-fill-mode:backwards;
 }

.title4 {

  animation-name: intro;
  animation-duration:0.2s;
  animation-iteration-count:1;
  animation-timing-function:ease;
  animation-delay:4.6s;
  animation-fill-mode:backwards;
 }



        
        p{
          // font-family: "Montserrat";
          font-family: "Gothic A1";

          color: white;
          z-index: 99;
          font-size: 30px;
        }
    
        // p{
        //   // font: normal 8vw/1 $font;
        //   // color: $font-color;
        // }
    
      }
}
}
}

/* Mobile */
@media screen and (max-width: 767px) {
  .section {
    &--logo {
      .inner {
        .contentBox {
        }
      }
    }
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .section--slogan {
    .inner {
      .sloganBox {
        .sloganTitle {
          top: 15vh;
          left: 13vw;
          // color: red;
          span {
            white-space: nowrap;
          }
        }
      }
    }
  }
}

/* PC */
@media screen and (min-width: 1280px) {
  .section {
    &--slogan {
      .inner {
        left: 0;

        .sloganBox {
          .sloganTitle {
            top: 15vh;
            left: 25vw;
            font-size: 6rem;
            // color: blue;
          }
          .sloganContent {
            color: #fff;
            margin-top: 40px;
            font-size: 18px;
          }
        }
      }
    }
    &--logo {
      .inner {
        .contentBox {
          left: 0;
          transform: translate(0, -40%);
          .logoBox {
            display: flex;
            align-items: end;
            img {
              width: 35vw;
            }
          }
          .logoContentBox {
            margin-top: 40px;
            margin-left: 5vw;
            text-align: left;
            p:first-child {
              line-height: 1;
              color: $main-green;
              font-family: "Montserrat";
              font-size: 3vw;
              white-space: nowrap;
              span {
                font-size: 1vw;
                font-family: "Gothic A1";
                color: #fff;
              }
            }

            p:last-child {
              margin-top: 15px;
              font-family: "Gothic A1";
              line-height: 1.5;
              font-size: 1.2vw;
            }
          }
        }
      }
    }
  }
}
