@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;300;400;500;600;700&display=swap");
@font-face {
  font-family: "CWDangamAsac-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.inner {
  width: 90%;
  margin: auto;
  position: relative;
}

/* Mobile */
/* Tablet */
/* PC */
@media screen and (min-width: 1280px) {
  .inner {
    width: 1200px;
  }
}
header {
  width: 100%;
  top: 0;
  background-color: #000;
  border-top: 2px solid black;
  border-bottom: 1px solid #c8c8c8;
  z-index: 3;
}
header .inner {
  position: relative;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .inner .menu-bar .menu-bar-menu {
  position: absolute;
  top: 120px;
  left: -10%;
  transform: translateX(4%);
  width: 100vw;
  height: calc(100vh - 120px);
  background-color: #3ea548;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
header .inner .menu-bar .menu-bar-menu li {
  position: relative;
  margin-left: 130px;
  display: inline-block;
  font-family: "Gothic A1";
  font-weight: 800;
}
header .inner .menu-bar .menu-bar-menu li ::after {
  position: absolute;
  left: -80px;
  transform: scale(0.8);
  transition: 0.3s ease-in;
  transform-origin: 70px;
  content: url("../image/header_logo.svg");
}
header .inner .menu-bar .menu-bar-menu li:hover ::before {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 2px;
  width: 90%;
  background-color: #fff;
}
header .inner .menu-bar .menu-bar-menu li:hover ::after {
  transform: rotate(15deg) scale(0.8);
}
header .inner .menu-bar .menu-bar-menu li a {
  font-size: 10vw;
}
header .inner .menu-bar .menu-hidden {
  display: none;
}
header .inner .menu-bar .menu-icon {
  display: block;
  font-size: 30px;
  color: #fff;
}

/* Mobile */
/* Tablet */
/* PC */
@media screen and (min-width: 1280px) {
  header .inner .menu-bar .menu-bar-menu {
    position: static;
    height: 120px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    flex-direction: row;
  }
  header .inner .menu-bar .menu-bar-menu li {
    margin-left: 0px;
  }
  header .inner .menu-bar .menu-bar-menu li ::after {
    content: "";
    position: static;
  }
  header .inner .menu-bar .menu-bar-menu li:hover ::before {
    width: 100%;
  }
  header .inner .menu-bar .menu-bar-menu li a {
    font-size: 16px;
  }
  header .inner .menu-bar .menu-icon {
    display: none;
  }
}
footer {
  height: 150px;
  background-color: #3ea548;
  display: flex;
  align-items: center;
  font-size: 14px;
  overflow: hidden;
}
footer .inner {
  display: flex;
  justify-content: flex-start;
}
footer .inner .foo_logo {
  width: 22vw;
  max-width: 180px;
}
footer .inner .foo_logo img {
  width: 100%;
}
footer .inner .footer-text-box {
  margin-left: 10vw;
  color: #fff;
  line-height: 1.5;
}
footer .inner .footer-text-box p:first-child {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.arrow {
  position: absolute;
  bottom: 7%;
  animation: scroll_bottom 1s ease-in infinite;
}
@keyframes scroll_bottom {
  from {
    bottom: 7%;
    opacity: 1;
  }
  to {
    opacity: 0;
    bottom: 5%;
  }
}
.arrow .arrow-bottom {
  cursor: pointer;
  position: relative;
  width: 32px;
  height: 32px;
  transform: rotate(225deg);
}
.arrow .arrow-bottom::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-right: 0;
  border-bottom: 0;
}

.hide {
  display: none;
  transition: all 0.5s;
}

.move1 {
  transform: translate(0, 0) scale(1.15);
}

.move2 {
  transform: translate(0, 0) scale(1.15);
}

.move3 {
  transform: translate(0, 0) scale(1.15);
}

.move4 {
  transform: translate(0, 0) scale(1.15);
}

.section {
  position: relative;
  overflow: hidden;
}
.section--slogan {
  align-items: center;
  background-color: #000;
  display: flex;
  flex-basis: content;
  flex-direction: column;
  padding: 2rem;
  height: calc(100vh - 120px);
}
.section--slogan .inner {
  height: inherit;
}
.section--slogan .inner .sloganBox {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  text-align: center;
}
.section--slogan .inner .sloganBox .sloganTitle {
  justify-content: center;
  font-family: "CWDangamAsac-Bold";
  font-size: 6rem;
  letter-spacing: 0em;
  line-height: 1.2;
  transform: rotate(-7deg);
  transform-origin: center, center;
}
.section--slogan .inner .sloganBox .sloganTitle span {
  box-sizing: border-box;
  display: inline-block;
  margin: -0.1em auto;
  width: auto;
}
.section--slogan .inner .sloganBox .sloganTitle span::before {
  animation-name: title;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  box-sizing: border-box;
  content: attr(data-text);
  display: inline;
  color: #fff;
  display: block;
  position: absolute;
  z-index: 1;
}
@keyframes title {
  0% {
    opacity: 0;
    transform: translateY(-0.2em);
    -webkit-clip-path: polygon(0 70%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 70%, 100% 0, 100% 100%, 0 100%);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  100% {
    opacity: 0;
    transform: translateY(0.1em);
    -webkit-clip-path: polygon(0 70%, 100% 0, 100% 30%, 0 100%);
    clip-path: polygon(0 70%, 100% 0, 100% 30%, 0 100%);
  }
}
.section--slogan .inner .sloganBox .sloganTitle span:last-child::before {
  animation-delay: 0.25s;
}
.section--slogan .inner .arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: scroll_bottom 1s ease-in infinite;
}
@keyframes scroll_bottom {
  from {
    bottom: 7%;
    opacity: 1;
  }
  to {
    opacity: 0;
    bottom: 5%;
  }
}
.section--slogan .inner .arrow .arrow-bottom::before {
  border: 4px solid #fff;
  border-right: 0;
  border-bottom: 0;
}
.section--logo {
  color: #fff;
  background-image: url("../image/stroy_bg.jpg");
  background-attachment: fixed;
  height: 100vh;
}
.section--logo .inner {
  height: inherit;
}
.section--logo .inner .contentBox {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}
.section--logo .inner .contentBox .logoBox {
  display: flex;
  align-items: end;
}
.section--logo .inner .contentBox .logoBox img {
  width: 60vw;
}
.section--logo .inner .contentBox .logoBox span {
  white-space: nowrap;
  font-size: 3vw;
  font-weight: 600;
  margin-left: 15px;
  margin-bottom: 30px;
}
.section--logo .inner .contentBox .logoContentBox {
  margin-top: 40px;
  margin-left: 5vw;
  text-align: center;
}
.section--logo .inner .contentBox .logoContentBox p:first-child {
  line-height: 1;
  color: #3ea548;
  font-family: "Montserrat";
  font-size: 6vw;
  white-space: nowrap;
}
.section--logo .inner .contentBox .logoContentBox p:first-child span {
  font-size: 1vw;
  font-family: "Gothic A1";
  color: #fff;
}
.section--logo .inner .contentBox .logoContentBox p:last-child {
  margin-top: 15px;
  font-family: "Gothic A1";
  line-height: 1.5;
  font-size: 3vw;
}
.section--logo .inner .arrow {
  position: absolute;
  left: 50%;
}
.section--logo .inner .arrow .arrow-bottom::before {
  border: 4px solid #fff;
  border-right: 0;
  border-bottom: 0;
}
.section--merit .inner {
  height: 100vh;
  display: flex;
  align-items: center;
}
.section--merit .inner .merit-img-box {
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
}
.section--merit .inner .merit-img-box p {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
}
.section--merit .inner .merit-img-box div[class^=merit--] {
  width: 24%;
  border-radius: 10px;
  transition: 0.5s;
}
.section--merit .inner .merit-img-box div[class^=merit--]:hover {
  transform: scale(1.05);
}
.section--merit .inner .merit-img-box div[class^=merit--] .img-box {
  width: 280px;
  height: 400px;
  overflow: hidden;
  position: relative;
}
.section--merit .inner .merit-img-box div[class^=merit--] .img-box img {
  width: 100%;
}
.section--merit .inner .merit-img-box div[class^=merit--] .img-box:hover {
  border: 2px solid #3ea548;
}
.section--merit .inner .merit-img-box div[class^=merit--] .img-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  background: linear-gradient(180deg, rgba(52, 152, 56, 0), rgba(52, 152, 56, 0), rgba(52, 152, 56, 0.7));
}
.section--merit .inner .merit-img-box div[class^=merit--] .img-box p {
  z-index: 1;
  position: absolute;
  bottom: 7%;
  left: 7%;
  color: #fff;
}
.section--merit .inner .inner {
  height: 100vh;
}
.section--merit .inner .inner .arrow {
  position: absolute;
  left: 50%;
}
.section--merit .inner .inner .arrow .arrow-bottom::before {
  border: 4px solid #000;
  border-right: 0;
  border-bottom: 0;
}
.section--merit .inner .inner .reason-box {
  position: absolute;
  width: 65%;
  height: 60%;
  left: 40%;
  transition: 0.5s;
}
.section--merit .inner .inner .reason-box:hover {
  transform: scale(1.05);
}
.section--merit .inner .inner .reason-box .img-box img {
  width: 280px;
  height: 400px;
}
.section--merit .inner .inner .merit--3 {
  width: 25%;
  margin: 0 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  transition: 0.5s;
}
.section--merit .inner .inner .merit--3:hover {
  transform: scale(1.05);
}
.section--merit .inner .inner .merit--3 .img-box img {
  width: 280px;
  height: 400px;
}
.section--merit .inner .inner .merit--4 {
  width: 25%;
  margin: 0 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  transition: 0.5s;
}
.section--merit .inner .inner .merit--4:hover {
  transform: scale(1.05);
}
.section--merit .inner .inner .merit--4 .img-box img {
  width: 280px;
  height: 400px;
}
.section--merit .inner .inner {
  height: 100vh;
}
.section--merit .inner .inner .arrow {
  position: absolute;
  left: 50%;
}
.section--merit .inner .inner .arrow .arrow-bottom::before {
  border: 4px solid #000;
  border-right: 0;
  border-bottom: 0;
}
.section--merit .inner .inner .reason-box {
  position: absolute;
  width: 65%;
  height: 60%;
  left: 40%;
  transition: 0.5s;
}
.section--merit .inner .inner .donut {
  width: 60%;
  height: 50%;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  text-align: center;
  transition: background 0.3s ease-in-out;
  background: conic-gradient(#3f8bc9 0% 72%, #f2f2f2 72% 100%);
}
.section--merit .inner .inner .donut:before {
  color: #fff;
  width: 70%;
  padding: calc(35% - 0.64vw) 0;
  background: #264057;
  border-radius: 50%;
  position: absolute;
  left: 15%;
  top: 15%;
  display: block;
  content: attr(data-percent) "%";
  transform: skew(-0.03deg);
  margin: auto;
  font-size: 1.1vw;
  font-size: 2vw;
  padding: calc(35% - 1.3vw) 0;
}
.section--reason .inner {
  height: 100vh;
}
.section--reason .inner .arrow {
  position: absolute;
  left: 50%;
}
.section--reason .inner .arrow .arrow-bottom::before {
  border: 4px solid #000;
  border-right: 0;
  border-bottom: 0;
}
.section--reason--reason .inner {
  height: 100vh;
}
.section--reason--reason .inner .arrow {
  position: absolute;
  left: 50%;
}
.section--reason--reason .inner .arrow .arrow-bottom::before {
  border: 4px solid #000;
  border-right: 0;
  border-bottom: 0;
}
.section--reason--mine .inner {
  height: 100vh;
}
.section--reason--mine .inner .arrow {
  position: absolute;
  left: 50%;
}
.section--reason--mine .inner .arrow .arrow-bottom::before {
  border: 4px solid #000;
  border-right: 0;
  border-bottom: 0;
}
.section--reason--interview .inner {
  height: 100vh;
}
.section--reason--interview .inner .arrow {
  position: absolute;
  left: 50%;
}
.section--reason--interview .inner .arrow .arrow-bottom::before {
  border: 4px solid #000;
  border-right: 0;
  border-bottom: 0;
}
.section--reason--campaign .inner {
  height: 100vh;
}

/* Mobile */
/* Tablet */
@media screen and (min-width: 768px) {
  .section--slogan .inner .sloganBox .sloganTitle {
    top: 15vh;
    left: 13vw;
  }
  .section--slogan .inner .sloganBox .sloganTitle span {
    white-space: nowrap;
  }
}
/* PC */
@media screen and (min-width: 1280px) {
  .section--slogan .inner {
    left: 0;
  }
  .section--slogan .inner .sloganBox .sloganTitle {
    top: 15vh;
    left: 25vw;
    font-size: 6rem;
  }
  .section--slogan .inner .sloganBox .sloganContent {
    color: #fff;
    margin-top: 40px;
    font-size: 18px;
  }
  .section--logo .inner .contentBox {
    left: 0;
    transform: translate(0, -40%);
  }
  .section--logo .inner .contentBox .logoBox {
    display: flex;
    align-items: end;
  }
  .section--logo .inner .contentBox .logoBox img {
    width: 35vw;
  }
  .section--logo .inner .contentBox .logoContentBox {
    margin-top: 40px;
    margin-left: 5vw;
    text-align: left;
  }
  .section--logo .inner .contentBox .logoContentBox p:first-child {
    line-height: 1;
    color: #3ea548;
    font-family: "Montserrat";
    font-size: 3vw;
    white-space: nowrap;
  }
  .section--logo .inner .contentBox .logoContentBox p:first-child span {
    font-size: 1vw;
    font-family: "Gothic A1";
    color: #fff;
  }
  .section--logo .inner .contentBox .logoContentBox p:last-child {
    margin-top: 15px;
    font-family: "Gothic A1";
    line-height: 1.5;
    font-size: 1.2vw;
  }
}/*# sourceMappingURL=story.css.map */