@import "./reset";
@import "./header";
@import "./footer";
.hide {
  opacity: 0;
  display: none;
}

// .click {
//   border: 3px solid tomato;ss
//   color: tomato;
// }

header {
  background-color: #282a4e;
  border: none;
}

.test {
  .besy {
    width: 100%;
    height: calc(100vh - 120px);
    background-color: #282a4e;
    position: absolute;
    z-index: -1;
  }
  .inner {
    .category {
      position: relative;
      width: 100%;
      height: calc(100vh - 120px);
      background-color: #282a4e;

      .gototest {
        position: absolute;
        top: 14%;
        left: 50%;
        transform: translateX(-50%);
        width: 39%;
        height: 200px;
        text-align: center;
        white-space: nowrap;

        > p {
          font-size: 24px;
          color: white;
          font-weight: 900;
          line-height: 1;
          margin-bottom: 30px;
        }

        > h2 {
          font-size: 70px;
          color: tomato;
          font-weight: bold;
          line-height: 1;
          font-family: "CWDangamAsac-Bold";
        }

        //테스트 버튼 생성
        > .btn {
          position: absolute;
          bottom: -15%;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          align-items: center;
          justify-content: center;
          width: 260px;
          &::before {
            content: "테스트 바로가기 ▸";
            color: green;
            z-index: 1;
            font-family: "CWDangamAsac-Bold";
            font-size: 28px;
          }
          .circle {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            position: absolute;
            &.circle-1 {
              right: 0px;
            }
            &.circle-2 {
              right: 60px;
            }
            &.circle-3 {
              right: 120px;
            }
            &.circle-4 {
              right: 180px;
            }
          }
          &.btn--white {
            .circle {
              background-color: white;
            }
          }
        }
      }

      // 지구, 로켓, 인공위성, 별똥별 위치 및 애니메이션
      .card {
        // width: 200px;
        // height: 200px;
        // border-radius: 50%;
        // background-color: tomato;
        position: absolute;
      }

      .card-1 {
        top: 7%;
        left: -13%;
        transform-origin: center bottom;
        animation: dance 3.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
        @keyframes dance {
          0% {
            transform: rotate(-3deg);
          }
          50% {
            transform: rotate(3deg);
          }
          100% {
            transform: rotate(-3deg);
          }
        }
        img {
          width: 380px;
          height: 380px;
        }
      }
      .card-2 {
        top: 45%;
        left: 10%;
        transform-origin: bottom;
        animation: jump 3s cubic-bezier(0.53, 0.03, 0.6, 0.99) infinite;
        @keyframes jump {
          0% {
            transform: translate(0, -8%);
          }
          50% {
            transform: translate(0, 0);
          }
          100% {
            transform: translate(0, -8%);
          }
        }
        img {
          width: 380px;
          height: 380px;
        }
      }
      .card-3 {
        top: 45%;
        right: 15%;
        animation: wobble 3.5s ease-out infinite;
        z-index: 1;
        @keyframes wobble {
          0% {
            transform: none;
          }
          15% {
            transform: translate3d(-3%, 0, 0) rotate(-1deg);
          }
          30% {
            transform: translate3d(3%, 0, 0) rotate(2deg);
          }
          45% {
            transform: translate3d(-3%, 0, 0) rotate(-2deg);
          }
          60% {
            transform: translate3d(2%, 0, 0) rotate(1deg);
          }
          75% {
            transform: translate3d(-1%, 0, 0) rotate(-1deg);
          }
          100% {
            transform: none;
          }
        }
        img {
          width: 415px;
          height: 415px;
        }
      }
      .card-4 {
        top: 5%;
        right: -10%;
        animation: dance_jump 3s ease-out infinite;
        @keyframes dance_jump {
          0% {
            transform: none;
          }
          15% {
            transform: rotate(-3deg);
          }
          30% {
            transform: rotate(3deg);
          }
          45% {
            transform: rotate(-3deg);
          }
          60% {
            transform: translate3d(0, -5%, 0);
          }
          75% {
            transform: translate3d(0, 1%, 0);
          }
          85% {
            transform: translate3d(0, -3%, 0);
          }
          100% {
            transform: none;
          }
        }
        img {
          width: 415px;
          height: 415px;
        }
      }
    }

    //질문 파트
    .question-mainbox {
      position: relative;
      height: 90%;
      overflow: hidden;
      margin-top: 100px;

      .box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        // border: 1px solid black;

        .question-box {
          .main-question {
            font-size: 36px;
            font-weight: 700;
            color: green;
            margin-bottom: 10px;
            font-family: "Gothic A1";
          }
          .sub-question {
            font-size: 20px;
            font-weight: 700;
            font-family: "Gothic A1";
          }
        }
      }

      .question1 {
        height: 200px;
        transition: 1s;

        .answer-box {
          // position: relative;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 60%;
          cursor: pointer;

          .first-answer {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            width: 49%;
            height: 100px;
            border: 2px solid gray;
            text-align: center;

            &:hover,
            &.click {
              border: 2px solid tomato;
              transition: 0.2s;
              p.answer {
                color: tomato;
                transition: 0.2s;
              }
            }

            > p.answer {
              display: block;
              font-size: 16px;
              font-weight: 600;
            }
          }

          .second-answer {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            width: 49%;
            height: 100px;
            border: 2px solid gray;
            text-align: center;

            &:hover,
            &.click {
              border: 2px solid tomato;
              transition: 0.2s;
              p.answer {
                color: tomato;
                transition: 0.2s;
              }
            }

            > p.answer {
              display: block;
              font-size: 16px;
              font-weight: 600;
            }
          }
        }
      }

      .question2 {
        height: 300px;
        transition: 0.5s;

        .question-box {
          .main-question {
            font-size: 36px;
            font-weight: 700;
            color: green;
            margin-bottom: 10px;
          }
        }

        .answer-box {
          // position: relative;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          width: 60%;
          cursor: pointer;

          .first-answer {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            width: 49%;
            height: 100px;
            border: 2px solid gray;
            text-align: center;

            &:hover,
            &.click {
              border: 2px solid tomato;
              transition: 0.2s;
              p.answer {
                color: tomato;
                transition: 0.2s;
              }
            }

            > p.answer {
              display: block;
              font-size: 16px;
              font-weight: 600;
            }
          }

          .second-answer {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            width: 49%;
            height: 100px;
            border: 2px solid gray;
            text-align: center;

            &:hover,
            &.click {
              border: 2px solid tomato;
              transition: 0.2s;
              p.answer {
                color: tomato;
                transition: 0.2s;
              }
            }

            > p.answer {
              display: block;
              font-size: 16px;
              font-weight: 600;
            }
          }

          .third-answer {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            width: 49%;
            height: 100px;
            border: 2px solid gray;
            text-align: center;
            margin-top: 10px;

            &:hover,
            &.click {
              border: 2px solid tomato;
              transition: 0.2s;
              p.answer {
                color: tomato;
                transition: 0.2s;
              }
            }

            > p.answer {
              display: block;
              font-size: 16px;
              font-weight: 600;
            }
          }

          .forth-answer {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            width: 49%;
            height: 100px;
            border: 2px solid gray;
            text-align: center;
            margin-top: 10px;

            &:hover,
            &.click {
              border: 2px solid tomato;
              transition: 0.2s;
              p.answer {
                color: tomato;
                transition: 0.2s;
              }
            }

            > p.answer {
              display: block;
              font-size: 16px;
              font-weight: 600;
            }
          }
        }
      }

      .question3 {
        height: 200px;
        transition: 0.5s;

        .question-box {
          .main-question {
            font-size: 36px;
            font-weight: 700;
            color: green;
            margin-bottom: 10px;
          }
        }

        .answer-box {
          // position: relative;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 60%;
          cursor: pointer;

          .first-answer {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            width: 49%;
            height: 100px;
            border: 2px solid gray;
            text-align: center;

            &:hover,
            &.click {
              border: 2px solid tomato;
              transition: 0.2s;
              p.answer {
                color: tomato;
                transition: 0.2s;
              }
            }

            > p.answer {
              display: block;
              font-size: 16px;
              font-weight: 600;
            }
          }

          .second-answer {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            width: 49%;
            height: 100px;
            border: 2px solid gray;
            text-align: center;

            &:hover,
            &.click {
              border: 2px solid tomato;
              transition: 0.2s;
              p.answer {
                color: tomato;
                transition: 0.2s;
              }
            }

            > p.answer {
              display: block;
              font-size: 16px;
              font-weight: 600;
            }
          }
        }
      }
    }

    //마지막 테스트하러가기 버튼
    .btn-box {
      width: 100%;
      height: 200px;
      margin-top: 10%;
      text-align: center;

      .btn {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 260px;
        &::before {
          content: "테스트 결과보기 ▸";
          z-index: 1;
          font-family: "CWDangamAsac-Bold";
          font-size: 28px;
        }
        .circle {
          width: 90px;
          height: 90px;
          border-radius: 50%;
          position: absolute;
          &.circle-1 {
            right: 0px;
          }
          &.circle-2 {
            right: 60px;
          }
          &.circle-3 {
            right: 120px;
          }
          &.circle-4 {
            right: 180px;
          }
        }
        &.btn--white {
          .circle {
            background-color: #282a4e;
          }
        }
      }
    }
  }
}
/* Mobile */
@media screen and (max-width: 767px) {
  .test {
    .inner {
      .category {
        position: relative;
        width: 100%;
        .gototest {
          width: 100%;
          height: 32%;
          display: flex;
          justify-content: center;
          flex-wrap: nowrap;

          > p {
            height: 20%;
            margin-bottom: 10px;
          }
          > h2 {
            position: absolute;
            top: 22%;
          }
          > .btn {
            top: 45%;
          }
        }
        .card {
          display: none;
        }
        .promotion {
          position: absolute;
          transition: height 0.4s;
          width: 100%;
          height: 40%;
          bottom: 10%;
          display: block;

          .swiper {
            height: 100%;
            .swiper-wrapper {
              height: 100%;
              display: flex;
              left: 22%;
              .swiper-slide {
                opacity: 0.5;
                transition: 0.5s;
                margin: 0;

                &-active {
                  opacity: 1;
                }

                img {
                  width: 320px;
                  height: 320px;
                }
              }
            }
          }
        }
      }
      .question-mainbox {
        .question-box {
          display: flex;
          align-items: center;
          .main-question {
            font-size: 40px;
            margin-right: 10px;
            font-family: "Gothic A1";
          }
          .sub-question {
            font-size: 20px;
            font-weight: 600;
            font-family: "Gothic A1";
          }
        }
        .box {
          position: relative;
          display: flex;
          flex-direction: column;
          margin-bottom: 100px;
          .answer-box {
            width: 100%;
          }
        }
        .question1 {
          height: 200px;
        }
        .question3 {
          height: 200px;
        }
      }
    }
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1150px) {
  .test {
    .inner {
      .category {
        position: relative;
        width: 100%;
        .gototest {
          width: 100%;
          height: 32%;
          display: flex;
          justify-content: center;
          flex-wrap: nowrap;

          > p {
            height: 20%;
            margin-bottom: 10px;
          }
          > h2 {
            position: absolute;
            top: 22%;
          }
          > .btn {
            top: 45%;
          }
        }
        .card {
          display: none;
        }
        .promotion {
          position: absolute;
          transition: height 0.4s;
          width: 100%;
          height: 40%;
          bottom: 10%;
          display: block;

          .swiper {
            height: 100%;
            .swiper-wrapper {
              height: 100%;
              display: flex;
              left: 26%;
              .swiper-slide {
                opacity: 0.5;
                transition: 0.5s;
                margin: 0;

                &-active {
                  opacity: 1;
                }

                img {
                  width: 360px;
                  height: 360px;
                }
              }
            }
          }
        }
      }
      .question-mainbox {
        .question-box {
          display: flex;
          align-items: center;
          .main-question {
            font-size: 40px;
            margin-right: 10px;
            font-family: "Gothic A1";
          }
          .sub-question {
            font-size: 24px;
            font-weight: 700;
            font-family: "Gothic A1";
          }
        }
        .box {
          position: relative;
          display: flex;
          flex-direction: column;
          margin-bottom: 100px;
          .answer-box {
            width: 100%;
            font-weight: 600;
          }
        }
        .question1 {
          height: 230px;
        }
      }
    }
  }
}

/* PC */
@media screen and (min-width: 1280px) {
  .test .inner {
    .category {
      .gototest > h2 {
        white-space: nowrap;
      }
    }
  }
}
