section {

  .inner {
    
    position: absolute;
    // justify-content: center;
    background-color: #808080;
    width: 70%;
    height: 90%;
    border: 1px solid black;
    border-radius: 15% ;
    height: 50%;
    background-color: rgb(206, 232, 243);
    margin: 10px;
    .text-result {

      display: flex;
      justify-content: center;
        h1 {
          // background-color:orange;
        }
        .card-img {
          border: 1px solid black;
          margin-left: 50px;
          border-radius: 50%;
          width: 150px;
          height: 150px;
          background-color: white;
        }
      
    }

    .image-result{
      display: flex;
      justify-content: center;
      .image-result-el{
        background-color: white;
        width: 100px;
        height: 100px;
        border-radius: 20%;
        border: 1px solid black;
      }
    }
  }
  
}

