* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.inner {
  width: 90%;
  margin: auto;
  position: relative;
}

/* Mobile */
/* Tablet */
/* PC */
@media screen and (min-width: 1280px) {
  .inner {
    width: 1200px;
  }
}
.hide {
  opacity: 0;
}

.click {
  border: 3px solid tomato;
}

header {
  width: 100%;
  top: 0;
  background-color: #282a4e;
  border: none;
  z-index: 3;
}

header > .inner {
  position: relative;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-bar:active .menu-bar-menu {
  position: absolute;
  z-index: 1;
  top: 100px;
  right: 0;
  display: block;
}
.menu-bar:active .menu-bar-menu li a {
  color: #fff;
}
.menu-bar .menu-bar-menu {
  display: none;
  justify-content: space-around;
}
.menu-bar .menu-icon {
  display: block;
  font-size: 30px;
  color: #fff;
}

/* Mobile */
/* Tablet */
/* PC */
@media screen and (min-width: 1280px) {
  .menu-bar {
    width: 35%;
  }
  .menu-bar:active .menu-bar-menu {
    position: static;
    display: flex;
  }
  .menu-bar .menu-bar-menu {
    display: flex;
  }
  .menu-bar .menu-icon {
    display: none;
  }
}
.test .besy {
  width: 100%;
  height: calc(100vh - 120px);
  background-color: #282a4e;
  position: absolute;
  z-index: -1;
}
.test .inner .category {
  position: relative;
  width: 100%;
  height: calc(100vh - 120px);
  background-color: #282a4e;
}
.test .inner .category .gototest {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  width: 39%;
  height: 200px;
  text-align: center;
}
.test .inner .category .gototest > p {
  font-size: 24px;
  color: white;
  font-size: 400;
  line-height: 1;
  margin-bottom: 50px;
}
.test .inner .category .gototest > a {
  display: block;
  text-align: center;
  margin: auto;
  width: 130px;
  height: 40px;
  border-radius: 5px;
  background-color: green;
}
.test .inner .category .card {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: tomato;
  position: absolute;
}
.test .inner .category .card-1 {
  top: 20%;
  left: 5%;
}
.test .inner .category .card-2 {
  top: 65%;
  left: 15%;
}
.test .inner .category .card-3 {
  top: 68%;
  right: 15%;
}
.test .inner .category .card-4 {
  top: 20%;
  right: 5%;
}
.test .inner .question-mainbox {
  position: relative;
  height: 90%;
  overflow: hidden;
  margin-top: 100px;
}
.test .inner .question-mainbox .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.test .inner .question-mainbox .question1 {
  height: 200px;
  transition: 0.5s;
}
.test .inner .question-mainbox .question1 .question-box .main-question {
  font-size: 36px;
  font-weight: 700;
  color: green;
  margin-bottom: 10px;
}
.test .inner .question-mainbox .question1 .answer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  cursor: pointer;
}
.test .inner .question-mainbox .question1 .answer-box .first-answer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 49%;
  height: 100px;
  border: 2px solid gray;
  text-align: center;
}
.test .inner .question-mainbox .question1 .answer-box .first-answer:hover {
  border: 2px solid tomato;
  transition: 0.2s;
}
.test .inner .question-mainbox .question1 .answer-box .first-answer:hover p.answer {
  color: tomato;
  transition: 0.2s;
}
.test .inner .question-mainbox .question1 .answer-box .first-answer > p.answer {
  display: block;
  font-size: 16px;
  font-weight: 600;
}
.test .inner .question-mainbox .question1 .answer-box .second-answer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 49%;
  height: 100px;
  border: 2px solid gray;
  text-align: center;
}
.test .inner .question-mainbox .question1 .answer-box .second-answer:hover {
  border: 2px solid tomato;
  transition: 0.2s;
}
.test .inner .question-mainbox .question1 .answer-box .second-answer:hover p.answer {
  color: tomato;
  transition: 0.2s;
}
.test .inner .question-mainbox .question1 .answer-box .second-answer > p.answer {
  display: block;
  font-size: 16px;
  font-weight: 600;
}
.test .inner .question-mainbox .question2 {
  height: 300px;
  transition: 0.5s;
}
.test .inner .question-mainbox .question2 .question-box .main-question {
  font-size: 36px;
  font-weight: 700;
  color: green;
  margin-bottom: 10px;
}
.test .inner .question-mainbox .question2 .answer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  cursor: pointer;
}
.test .inner .question-mainbox .question2 .answer-box .first-answer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 49%;
  height: 100px;
  border: 2px solid gray;
  text-align: center;
}
.test .inner .question-mainbox .question2 .answer-box .first-answer:hover {
  border: 2px solid tomato;
  transition: 0.2s;
}
.test .inner .question-mainbox .question2 .answer-box .first-answer:hover p.answer {
  color: tomato;
  transition: 0.2s;
}
.test .inner .question-mainbox .question2 .answer-box .first-answer > p.answer {
  display: block;
  font-size: 16px;
  font-weight: 600;
}
.test .inner .question-mainbox .question2 .answer-box .second-answer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 49%;
  height: 100px;
  border: 2px solid gray;
  text-align: center;
}
.test .inner .question-mainbox .question2 .answer-box .second-answer:hover {
  border: 2px solid tomato;
  transition: 0.2s;
}
.test .inner .question-mainbox .question2 .answer-box .second-answer:hover p.answer {
  color: tomato;
  transition: 0.2s;
}
.test .inner .question-mainbox .question2 .answer-box .second-answer > p.answer {
  display: block;
  font-size: 16px;
  font-weight: 600;
}
.test .inner .question-mainbox .question2 .answer-box .third-answer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 49%;
  height: 100px;
  border: 2px solid gray;
  text-align: center;
  margin-top: 10px;
}
.test .inner .question-mainbox .question2 .answer-box .third-answer:hover {
  border: 2px solid tomato;
  transition: 0.2s;
}
.test .inner .question-mainbox .question2 .answer-box .third-answer:hover p.answer {
  color: tomato;
  transition: 0.2s;
}
.test .inner .question-mainbox .question2 .answer-box .third-answer > p.answer {
  display: block;
  font-size: 16px;
  font-weight: 600;
}
.test .inner .question-mainbox .question2 .answer-box .forth-answer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 49%;
  height: 100px;
  border: 2px solid gray;
  text-align: center;
  margin-top: 10px;
}
.test .inner .question-mainbox .question2 .answer-box .forth-answer:hover {
  border: 2px solid tomato;
  transition: 0.2s;
}
.test .inner .question-mainbox .question2 .answer-box .forth-answer:hover p.answer {
  color: tomato;
  transition: 0.2s;
}
.test .inner .question-mainbox .question2 .answer-box .forth-answer > p.answer {
  display: block;
  font-size: 16px;
  font-weight: 600;
}
.test .inner .question-mainbox .question3 {
  height: 200px;
  transition: 0.5s;
}
.test .inner .question-mainbox .question3 .question-box .main-question {
  font-size: 36px;
  font-weight: 700;
  color: green;
  margin-bottom: 10px;
}
.test .inner .question-mainbox .question3 .answer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  cursor: pointer;
}
.test .inner .question-mainbox .question3 .answer-box .first-answer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 49%;
  height: 100px;
  border: 2px solid gray;
  text-align: center;
}
.test .inner .question-mainbox .question3 .answer-box .first-answer:hover {
  border: 2px solid tomato;
  transition: 0.2s;
}
.test .inner .question-mainbox .question3 .answer-box .first-answer:hover p.answer {
  color: tomato;
  transition: 0.2s;
}
.test .inner .question-mainbox .question3 .answer-box .first-answer > p.answer {
  display: block;
  font-size: 16px;
  font-weight: 600;
}
.test .inner .question-mainbox .question3 .answer-box .second-answer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 49%;
  height: 100px;
  border: 2px solid gray;
  text-align: center;
}
.test .inner .question-mainbox .question3 .answer-box .second-answer:hover {
  border: 2px solid tomato;
  transition: 0.2s;
}
.test .inner .question-mainbox .question3 .answer-box .second-answer:hover p.answer {
  color: tomato;
  transition: 0.2s;
}
.test .inner .question-mainbox .question3 .answer-box .second-answer > p.answer {
  display: block;
  font-size: 16px;
  font-weight: 600;
}
.test .inner .btn-box {
  width: 100%;
  height: 200px;
  margin-top: 10%;
  text-align: center;
}
.test .inner .btn-box .result-btn {
  text-align: center;
  border: 2px solid #282a4e;
  border-radius: 10px;
  display: inline-block;
  background-color: white;
  width: 15%;
  height: 25%;
  color: #282a4e;
}/*# sourceMappingURL=test.css.map */