* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.inner {
  width: 90%;
  margin: auto;
  position: relative;
}

/* Mobile */
/* Tablet */
/* PC */
@media screen and (min-width: 1280px) {
  .inner {
    width: 1200px;
  }
}
header {
  width: 100%;
  top: 0;
  background-color: #000;
  border-top: 2px solid black;
  border-bottom: 1px solid #c8c8c8;
  z-index: 3;
}

header > .inner {
  position: relative;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-bar:active .menu-bar-menu {
  position: absolute;
  z-index: 1;
  top: 100px;
  right: 0;
  display: block;
}
.menu-bar:active .menu-bar-menu li a {
  color: #fff;
}
.menu-bar .menu-bar-menu {
  display: none;
  justify-content: space-around;
}
.menu-bar .menu-icon {
  display: block;
  font-size: 30px;
  color: #fff;
}

/* Mobile */
/* Tablet */
/* PC */
@media screen and (min-width: 1280px) {
  .menu-bar {
    width: 35%;
  }
  .menu-bar:active .menu-bar-menu {
    position: static;
    display: flex;
  }
  .menu-bar .menu-bar-menu {
    display: flex;
  }
  .menu-bar .menu-icon {
    display: none;
  }
}
.hide {
  opacity: 0;
}

.test .inner .category {
  position: relative;
  width: 100%;
  height: calc(100vh - 120px);
}
.test .inner .category .gototest {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  width: 39%;
  height: 200px;
  text-align: center;
}
.test .inner .category .gototest > p {
  font-size: 50px;
  line-height: 1;
  margin-bottom: 50px;
}
.test .inner .category .gototest > a {
  display: block;
  text-align: center;
  margin: auto;
  width: 130px;
  height: 40px;
  border-radius: 5px;
  background-color: green;
}
.test .inner .category .card {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: tomato;
  position: absolute;
}
.test .inner .category .card-1 {
  top: 20%;
  left: 5%;
}
.test .inner .category .card-2 {
  top: 65%;
  left: 15%;
}
.test .inner .category .card-3 {
  top: 68%;
  right: 15%;
}
.test .inner .category .card-4 {
  top: 20%;
  right: 5%;
}
.test .inner .question-box {
  position: relative;
  height: 90%;
  text-align: center;
  overflow: hidden;
}
.test .inner .question-box .box {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transform: translateX(50%);
  transition: 1s;
}
.test .inner .question-box .box label {
  margin-bottom: 20px;
}
.test .inner .question-box .question1 {
  height: 283px;
}
.test .inner .question-box .question1 p.question {
  font-size: 30px;
  padding: 50px 0 20px 0;
  margin-bottom: 20px;
}
.test .inner .question-box .question1 .answer-box {
  width: 283px;
  height: 100px;
  margin: auto;
  cursor: pointer;
}
.test .inner .question-box .question2 {
  height: 300px;
}
.test .inner .question-box .question2 p.question {
  font-size: 30px;
  margin-bottom: 50px;
}
.test .inner .question-box .question2 .answer-box {
  width: 40%;
  margin: auto;
  height: 100px;
}
.test .inner .question-box .question3 {
  height: 250px;
}
.test .inner .question-box .question3 p.question {
  font-size: 30px;
  margin-bottom: 50px;
}
.test .inner .question-box .question3 .answer-box {
  width: 40%;
  margin: auto;
  height: 100px;
}
.test .inner .btn-box {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
}
.test .inner .btn-box .result-btn {
  display: block;
  width: 130px;
  height: 50px;
  margin: auto;
  background-color: tomato;
  border-radius: 5px;
  transition: 1s;
  font-size: 16px;
  text-align: center;
}/*# sourceMappingURL=test.css.map */