@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@font-face {
  font-family: "CWDangamAsac-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.inner {
  width: 90%;
  margin: auto;
  position: relative;
}

/* Mobile */
/* Tablet */
/* PC */
@media screen and (min-width: 1280px) {
  .inner {
    width: 1200px;
  }
}
div {
  font-family: "Montserrat";
  line-height: 2.2rem;
}

h1 {
  font-family: "Montserrat";
}

section {
  font-family: "Montserrat";
}

/* Mobile */
/* Tablet */
/* PC */
@media screen and (min-width: 1280px) {
  .menu-bar {
    width: 35%;
  }
  .menu-bar:active .menu-bar-menu {
    position: static;
    display: flex;
  }
  .menu-bar .menu-bar-menu {
    display: flex;
  }
  .menu-bar .menu-icon {
    display: none;
  }
}
.testResult {
  display: flex;
  height: 100vh;
}
.testResult .card_image {
  background-color: rgba(255, 122, 102, 0.499);
  width: 33%;
  height: 100%;
  background-image: url("../../image/rocket.svg");
  background-size: 27%;
  background-position-y: 50%;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.testResult .card_image p {
  position: absolute;
  bottom: 10px;
  margin: 30px;
  font-size: 30px;
  font-weight: 700;
  color: black;
}
.testResult .instruct {
  font-family: "Montserrat";
  width: 67%;
  height: 100%;
}
.testResult .instruct .text {
  margin: 30px 30px 0 30px;
  height: 50%;
  color: green;
}
.testResult .instruct .text h1 {
  font-size: 40px;
  margin-bottom: 20px;
  font-family: "Montserrat" "sans-serif";
}
.testResult .instruct .text button {
  font-size: 0.9rem;
  color: white;
  background-color: #3ea548;
  border-radius: 20px;
  border: 2px solid #3ea548;
  padding: 3px 10px;
}
.testResult .instruct .text p {
  margin-top: 50px;
  font-size: 20px;
  font-family: "Montserrat" "sans-serif";
}
.testResult .instruct .text h3 {
  color: #3ea548;
  margin-top: 20px;
  font-family: "Montserrat";
}
.testResult .instruct .tree_all {
  margin: 0 30px;
  height: 50%;
  position: relative;
}
.testResult .instruct .tree_all h2 {
  margin-bottom: 10px;
  color: #3ea548;
}
.testResult .instruct .tree_all .swiper {
  margin-top: 30px;
  position: absolute;
  width: 100%;
  height: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
}
.testResult .instruct .tree_all .swiper .swiper-slide {
  width: 50px;
  padding: 10px;
  height: 80%;
  border: 1px solid green;
  background-color: white;
  border-radius: 20px;
  top: 5px;
  opacity: 1;
  transform: 0.2;
}
.testResult .instruct .tree_all .swiper .swiper-slide img {
  transform: scale(0.8);
  opacity: 0.7;
  background-color: black;
  width: 75%;
  height: 80%;
}
.testResult .instruct .tree_all .swiper .swiper-slide img:hover {
  opacity: 1;
  transform: scale(0.9);
  transition: 0.7s;
}
.testResult .instruct .tree_all .more-btn {
  position: absolute;
  right: 0;
  top: -5px;
  z-index: 99;
  background-color: white;
  color: rgb(242, 114, 85);
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 20px;
  padding: 5px 20px;
  border: 1px solid rgb(242, 114, 85);
}
.testResult .instruct .tree_all .more-btn:hover {
  cursor: pointer;
  transition: 1s;
  border: 1px solid rgba(255, 122, 102, 0.499);
  color: rgb(242, 114, 85);
  background-color: rgba(255, 122, 102, 0.499);
}

.swiper-slide-active {
  opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 190px;
  cursor: pointer;
  width: 55px;
  height: 55px;
  border: 2px solid #333;
  color: #333;
  border-radius: 50%;
  z-index: 1;
}

.swiper-button-prev {
  left: 50%;
  transform: translateX(-500px);
}

.swiper-button-next {
  right: 50%;
  transform: translateX(500px);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 24px;
}/*# sourceMappingURL=testResultRoket.css.map */